<div class = "background-lightgrey">
  <% if user_signed_in? && current_user.admin %>
    <div class = "container py-2">
      <div class = "row">
        <div class = "col-md-6 offset-md-3">
          <h6>Admin functions</h6>
          <div class = "row">
            <div class = "col-6">
              <%= link_to "Edit", edit_admin_collection_path(@collection), class: "btn btn-secondary col-10 offset-1" %>
            </div>
            <div class = "col-6">
              <%= link_to "Delete", admin_collection_path(@collection), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-10 offset-1" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Products in collection -->
  <div class = "container">
    <div class = "row">
      <div class = "col-12">
        <h1 class = "mt-2"><%= title @collection.full_name %></h1>
        <p><%= @collection.description %></p>
      </div>
      <%= render partial: "products/lister_item", collection: @products, as: :product, locals: { md_upwards_col: 4, include_add_to_basket: false } %>
    </div>
  </div>

  <!-- Other collections -->
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-12">
        <hr class = "lyst-line-grey" />
      </div>
      <div class = "col-12 pb-3 px-3">
        <h4>Explore other collections</h4>
        <div class = "row">
          <div class = "owl-carousel owl-theme other-collections-carousel">
            <%= render partial: "collections/lister_collection", collection: @other_collections, as: :collection, locals: { owl_carousel: true } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    var owl = $('.owl-carousel.other-collections-carousel'); 
    owl.owlCarousel({
      stagePadding: 50,
      margin: 0,
      dots: true,
      loop: true,
      responsive : {
        // breakpoint from 0 up
        0 : {
            items : 1
        },
        // breakpoint from 480 up
        960 : {
            items : 2
        }
      }
      // navText : ['<i class="fa fa-3x pb-2 mt-0 pt-0 mb-3 fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-3x mt-0 pt-0 mb-3 pb-2 fa-angle-right" aria-hidden="true"></i>']
    });
  });
</script>