<div class = "container">
  <% if @orders.length > 0 %>
    <div class = "row">
      <div class = "col-12">
        <h4>My previously purchased products</h4>
      </div>
      <%= render partial: "products/lister_item", collection: @previously_purchased_products, as: :product, include_add_to_basket: true %>
    </div>
    <div class = "row mt-4">
      <div class = "col-12">
        <h4>My orders</h4>
        <div class = "row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Products</th>
                <th scope="col">State</th>
                <th scope="col">Total</th>
                <th scope="col">View</th>
              </tr>
            </thead>
            <tbody>
              <% if @orders.present? %>
                <% @orders.each do |order| %>
                  <tr>
                    <th scope="row"><%= order.updated_at.strftime('%B %d, %Y') %></th>
                    <!-- Updated at to show time when paid, rather than when order created -->
                    <td><%= order.product_summary %></td>
                    <td><%= order.state %></td>
                    <td><strong><%= number_to_currency((order.total_paid_amount.to_f / 100), unit: "£") %></strong></td>
                    <td><strong><%= link_to "View order", account_order_path(order), class: "btn btn-secondary" %></strong></td>
                  </tr>
                <% end %>
              <% else %>
                <p>You have no orders</p>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class = "row">
          <div class = "col-12 text-center">
            <%= will_paginate @posts, :page_links => false %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class = "row mt-5">
      <div class = "col-12">
        <h4>You haven't made any orders yet.</h4>
        <% if @order.order_items.length > 0 %>
          <p class = "text-muted">Checkout your current cart, which contains <%= @order.product_summary %>, <%= link_to "here", cart_path %>.</p>
        <% else %>
          <p class = "text-muted">Fill your cart with some of our <%= link_to "fantastic products", products_path %>.</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
