<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h4>Your order, placed at <%= @order.created_at.strftime('%Y-%m-%d at %H:%M:%S') %></h4>
      <div class = "row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Distillery</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <% @order.sold_items.each do |si| %>
              <tr>
                <th scope="row"><%= link_to si.product.name, product_path(si.product) %></th>
                <td><%= link_to si.product.distillery.name, distillery_path(si.product.distillery) %></td>
                <td><%= si.quantity %></td>
                <td><%= number_to_currency((si.item_price / 100).to_f, unit: "£") %></td>
                <td><strong><%= number_to_currency((si.total_paid / 100).to_f, unit: "£") %></strong></td>
              </tr>
            <% end %>
            <tr>
              <th scope="row" colspan="3">Shipping</th>
              <td><%= number_to_currency((@order.paid_shipping_price / 100).to_f, unit: "£") %></td>
              <td></td>
            </tr>
            <tr class="table-success">
              <th scope="row" colspan="4"><strong>Total</strong></th>
              <td><strong><%= number_to_currency((@order.total_paid_amount / 100).to_f, unit: "£") %></strong></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
