<div class="row py-3" style="
background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, <%= carousel_feature.gradient_from %>, <%= carousel_feature.gradient_to %>);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, <%= carousel_feature.gradient_from.to_s %>, <%= carousel_feature.gradient_to.to_s %>); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
  <div class = "container">
    <div class = "row">
      <div class = "col-5 display-v-middle">
        <%= image_tag carousel_feature.image_url(:square), class: "img-fluid" %>
      </div>
      <div class = "col-7 display-v-middle text-center py-md-5">
        <div>
          <%= link_to "#{carousel_feature.link_url}" do %>
            <h1 class = "display-4 js-animate-me animated logo-text"><span class = ""><%= carousel_feature.line_1 %></span></h1>
            <h4 class = "js-animate-me2 animated"><%= simple_format carousel_feature.line_2 %></h4>
            <%= link_to carousel_feature.cta_text, "#{carousel_feature.link_url}", class: "btn btn-lg btn-primary my-3" %>
          <% end %>
          <% if user_signed_in? && current_user.admin %>
            <%= link_to "Edit", edit_admin_carousel_feature_path(carousel_feature) %>
            <%= link_to "Delete", admin_carousel_feature_path(carousel_feature), data: { confirm: "Are you sure?" }, method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>