<div class = "container-fluid">
  <div class = "owl-carousel owl-theme hero-carousel">
    <div class = "row hero-row" style="background: transparent url(<%= image_url('hero_image_1.jpg') %>) no-repeat center center /cover">
      <div class = "col-10 offset-1 col-md-6 offset-md-3 text-center py-3 py-md-5 px-2 px-md-5">
        <h1 class = "logo-text display-4">Craft spirits straight from our partner distilleries</h1>
        <%= link_to 'Our products', products_path, class: "btn btn-lg btn-primary my-3" %>
      </div>
    </div>
    <div class = "row hero-row" style="background: transparent url(<%= image_url('recipe_hero.jpg') %>) no-repeat center center /cover">
      <div class = "col-10 offset-1 col-md-6 offset-md-3 text-center py-3 py-md-5 px-2 px-md-5">
        <h1 class = "logo-text display-4">Cocktail recipes from our brilliant mixologists</h1>
        <%= link_to 'Recipes', recipes_path, class: "btn btn-lg btn-primary my-3" %>
      </div>
    </div>
    <div class = "row hero-row" style="background: transparent url(<%= image_url(@featured_product.product_images.first.photo) %>) no-repeat center center /cover">
      <div class = "col-10 offset-1 col-md-6 offset-md-3 text-center py-3 py-md-5 px-2 px-md-5">
        <h1 class = "logo-text display-4">I'm feeling lucky</h1>
        <h3>Pick me a random product</h3>
        <%= link_to 'Randomise', random_product_path, class: "btn btn-lg btn-primary my-3", method: :post %>
      </div>
    </div>
  </div> <!-- Owl carousel -->
</div>
<!-- Secondary nav -->
<hr class = "booyah-line"/>
<div class="nav-wrapper" style="height:50px;">
  <nav class = "secondary-nav background-white mb-0 pb-0" id = "secondary-nav" style = "height:50px;">
    <div class = "container-fluid">
      <div class = "row">
        <ul class="nav nav-pills nav-fill col-md-8 offset-md-2">
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#categories"><h6>Categories</h6></a>
          </li>
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#products"><h6>Products</h6></a>
          </li>
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#recipes"><h6>Recipes</h6></a>
          </li>
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#distilleries"><h6>Distilleries</h6></a>
          </li>
          <% unless @instas.blank? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#social"><h6>Social</h6></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class = "row">
        <div class = "col-12">
          <hr class = "booyah-line">
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- Categories -->
<div class = "" id = "categories">
  <div class = "container py-3">
    <div class = "row">
      <div class = "col">
        <h3>Our categories</h3>
        <div class = "row py-3 text-center">
          <%= render partial: "categories/lister_category", collection: @featured_categories, as: :category %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <hr class = "booyah-line mt-1"/>
    </div>
  </div>
</div>

<!-- Products -->
<div class = "products-background" id = "products">
  <div class = "container py-3">
    <span class = "">
      <h3>Featured products</h3>
    </span>
    <div class = "row text-center">
      <div class = "col-12">
        <div class = "row">
          <%= render partial: "products/lister_item", collection: @featured_products, as: :product %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Recently viewed -->
<% if user_signed_in? && current_user.recently_viewed_products.present? %>
  <div class = "products-background background-grey">
    <div class = "container py-3">
      <span class = "">
        <h3>Recently viewed</h3>
      </span>
      <div class = "row text-center">
        <div class = "col-12">
          <div class = "row">
            <%= render partial: "products/lister_item", collection: current_user.recently_viewed_products, as: :product %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Recipes -->
<div class = "pt-1" id = "recipes">
  <div class = "container py-3">
    <span class = "">
      <h3>Latest recipes</h3>
    </span>
    <div class = "row text-center">
      <div class = "col-12">
        <div class = "row">
          <%= render partial: "recipes/lister_recipe", collection: @recipes, as: :recipe %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Distilleries -->
<div class = "" id = "distilleries">
  <div class = "container py-3">
    <div class = "row">
      <div class = "col">
        <h3>Newest distilleries</h3>
        <div class = "row py-3 text-center">
          <%= render partial: "distilleries/lister_distillery", collection: @featured_distilleries, as: :distillery %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <hr class = "booyah-line mt-1"/>
    </div>
  </div>
</div>

<% unless @instas.blank? %>
  <div class = "py-3" id = "social">
    <div class = "container">
      <h3>Recent instagrams</h3>
      <h6 class = "text-muted"><%= link_to "@craftrspirits", "http://instagram.com/craftrspirits" %></h6>
      <div class = "row">
        <%= render partial: "static_pages/instagram_tile", collection: @instas.data, as: :insta %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $('.owl-carousel.hero-carousel').owlCarousel({
    stagePadding: 0,
    loop:true,
    dots: true,
    items: 1,
    nav: true,
    navText : ['<i class="fa fa-4x fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-4x fa-angle-right" aria-hidden="true"></i>']
  });

  $(function() {
    var stickyNavTop = $('.secondary-nav').offset().top;
      
      // our function that decides weather the navigation bar should have "fixed" css position or not.
      var stickyNav = function(){
        var scrollTop = $(window).scrollTop(); // our current vertical position from the top
             
        // if we've scrolled more than the navigation, change its position to fixed to stick to top,
        // otherwise change it back to relative
        if (scrollTop > stickyNavTop) { 
            $('.secondary-nav').addClass('sticky');
        } else {
            $('.secondary-nav').removeClass('sticky'); 
        }
    };

    stickyNav();
    // and run it again every time you scroll
    $(window).scroll(function() {
      stickyNav();
    });
  });
</script>