<div class = "home-hero-background">
  <div class = "container">
    <div class = "row pt-5">
      <div class = "col-md-6 offset-md-3">
        <h1 class = "text-white mt-5 display-3">Craftr</h1>
        <h3 class = "text-white">The marketplace for craft spirits</h6>
        <h6>Shipped straight from the distillery to your home</h6>
        <%= link_to "Find out more", about_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<!-- Categories -->
<div class = "container text-center">
  <h1>Our categories</h1>
  <div class = "row py-3">
    <% @featured_categories.each do |category| %>
      <div class = "col">
        <%= link_to category_path(category) do %>
          <%= image_tag category.icon, height: "100px" %>
          <br />
          <%= category.name %>
        <% end %>
      </div>
    <% end %>
    <div class = "col-6 col-md-3">
      <%= link_to products_path do %>
        <%= image_tag "all_spirits.png", height: "100px" %>
        All spirits
      <% end %>
    </div>
  </div>
</div>

<!-- Recipes -->
<div class = "recipes-background">
  <div class = "container py-3">
    <span class = "text-center">
      <h1>Latest recipes</h1>
    </span>
    <div class = "row">
      <%= render partial: "recipes/lister_recipe", collection: @recipes, as: :recipe %>
    </div>
  </div>
</div>

<!-- Products -->
<div class = "products-background">
  <div class = "container py-3">
    <span class = "text-center">
      <h1>Featured products</h1>
    </span>
    <div class = "row">
      <%= render partial: "products/lister_item", collection: @featured_products, as: :product %>
    </div>
  </div>
</div>



