<div class = "container-fluid">
  <div class = "owl-carousel owl-theme hero-carousel">
    <%= render partial: "static_pages/carousel_feature", collection: @carousel_features, as: :carousel_feature %>
    <div class = "hero-row" style="background: transparent url(<%= image_url('hero_image_1.jpg') %>) no-repeat center center /cover">
      <div class = "col-10 offset-1 col-md-6 offset-md-3 text-center py-3 py-md-5">
        <div class = "background-translucent-grey py-3 py-md-5 px-2 px-md-5">
          <h1 class = "js-animate-me animated">I'm feeling lucky</h1>
          <h3 class = "js-animate-me2 animated">Pick me a random product</h3>
          <%= link_to 'Randomise', random_product_path, class: "btn btn-lg btn-primary my-3", method: :post %>
        </div>
      </div>
    </div>
  </div> <!-- Owl carousel -->
</div>

<% @featured_categories.each do |category| %>
  <!-- Products -->
  <div class = "products-background" id = "products">
    <div class = "container py-3">
      <div class = "d-inline-block">
        <h3>Featured <%= "#{category.name}s" %></h3>
      </div>
      <div class = "d-inline-block float-right">
        <p class = "text-primary"><%= link_to "See all", category_path(category) %></p>
      </div>
      <div class = "clear"></div>
      <div class = "row text-center">
        <div class = "col-12">
          <div class = "row">
            <%= render partial: "products/lister_item", collection: category.products.where(featured: true), as: :product %>
          </div>
          <div class = "row">
            <%= link_to "See all our #{category.name}s", category_path(category), class: "btn btn-secondary col-8 offset-2" %>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          <hr class = "booyah-line" />
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Recently viewed -->
<% if user_signed_in? && current_user.recently_viewed_products.present? %>
  <div class = "products-background background-grey">
    <div class = "container py-3">
      <span class = "">
        <h3>Recently viewed</h3>
      </span>
      <div class = "row text-center">
        <div class = "col-12">
          <div class = "row">
            <%= render partial: "products/lister_item", collection: current_user.recently_viewed_products.first(3), as: :product %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Recipes -->
<div class = "pt-1" id = "recipes">
  <div class = "container py-3">
    <div class = "d-inline-block">
      <h3>Latest recipes</h3>
    </div>
    <div class = "d-inline-block float-right">
      <p class = "text-primary"><%= link_to "See all", recipes_path %></p>
    </div>
    <div class = "clear"></div>
    <div class = "row text-center">
      <div class = "col-12">
        <div class = "row">
          <%= render partial: "recipes/lister_recipe", collection: @recipes, as: :recipe %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <hr class = "booyah-line" />
    </div>
  </div>
</div>

<!-- Distilleries -->
<div class = "" id = "distilleries">
  <div class = "container py-3">
    <div class = "row">
      <div class = "col">
        <div class = "d-inline-block">
          <h3>Newest distilleries</h3>
        </div>
        <div class = "d-inline-block float-right">
          <p class = "text-primary"><%= link_to "See all", distilleries_path %></p>
        </div>
        <div class = "clear"></div>
        <div class = "row py-3 text-center">
          <%= render partial: "distilleries/lister_distillery", collection: @featured_distilleries, as: :distillery %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <hr class = "booyah-line mt-1"/>
    </div>
  </div>
</div>

<% unless @instas.blank? %>
  <div class = "py-3" id = "social">
    <div class = "container">
      <h3>Recent instagrams</h3>
      <h6 class = "text-muted"><%= link_to "@craftrspirits", "http://instagram.com/craftrspirits" %></h6>
      <div class = "row">
        <%= render partial: "static_pages/instagram_tile", collection: @instas.data, as: :insta %>
      </div>
    </div>
  </div>
<% end %>

<script>
  var owl = $('.owl-carousel.hero-carousel'); 
  owl.owlCarousel({
    stagePadding: 0,
    loop:true,
    dots: true,
    items: 1,
    nav: true,
    navText : ['<i class="fa fa-4x fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-4x fa-angle-right" aria-hidden="true"></i>']
  });

  var animation_end = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
  owl.on('initialized.owl.carousel changed.owl.carousel', function(e) {
    owl.find(".js-animate-me").addClass("fadeInLeft")
    .one(animation_end, function(){ 
      $(this).removeClass("fadeInLeft");
    });
    owl.find(".js-animate-me2").addClass("slideInUp")
    .one(animation_end, function(){
      $(this).removeClass("slideInUp");
    })
  });
</script>
