<div class = "container">
  <div class = "row py-2">
    <div class = "col-md-6 offset-md-3">
      <div class = "booyah-box nice-padding">
        <h2><%= title 'Sign up' %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true %>
            <%= f.input :age_verified, required: true, label: "(Required) Tick if you are older than the legal drinking age in your country of residence" %>
            <%= link_to "Privacy policy", privacy_policy_path, class: "text-primary", :target => "_blank" %>
            <%= f.input :privacy_policy_accepted, required: true, label: "(Required) Please read our privacy policy before accepting" %>
            <%= f.input :newsletter_sign_up, hint: "Revitalise your cocktail repetoire by receiving our weekly email on  our best recipes and articles. No spam, ever." %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
