<div class = "container-fluid">
  <h1 class = "mt-2"><%= @results[:products].count + @results[:recipes].count + @results[:articles].count  %> results for <%= @keyword.inspect %></h1>
  <div class = "row">
    <div class = "col-12">
      <hr class = "booyah-line">
    </div>
  </div>
</div>

<% unless @results[:products].blank? && @results[:recipes].blank? && @results[:articles].blank? %>
  <div class="nav-wrapper" style="height:50px;">
    <nav class = "secondary-nav background-white mb-0 pb-0" id = "secondary-nav" style = "height:50px;">
      <div class = "container-fluid">
        <div class = "row">
          <ul class="nav nav-pills nav-fill col-md-8 offset-md-2">
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#products"><h6>Products (<%= @results[:products].length %>)</h6></a>
            </li>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#recipes"><h6>Recipes (<%= @results[:recipes].length %>)</h6></a>
            </li>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#articles"><h6>Articles (<%= @results[:articles].length %>)</h6></a>
            </li>
          </ul>
        </div>
        <div class = "row">
          <div class = "col-12">
            <hr class = "booyah-line">
          </div>
        </div>
      </div>
    </nav>
  </div>
<% end %>
<div class = "container">
  <% unless @results[:products].blank? %>
    <h3 class = "mt-3">Products</h3>
    <div class = "row mb-5" id = "products">
      <%= render partial: 'products/lister_item', collection: @results[:products], as: :product %>
    </div>
  <% end %>

  <% unless @results[:recipes].blank? %>
    <h3 class = "mt-3">Recipes</h3>
    <div class = "row mb-5" id = "recipes">
      <%= render partial: 'recipes/lister_recipe', collection: @results[:recipes], as: :recipe %>
    </div>
  <% end %>

  <% unless @results[:articles].blank? %>
    <h3 class = "mt-3">Articles</h3>
    <div class = "row mb-5" id = "articles">
      <%= render partial: 'articles/lister_article', collection: @results[:articles], as: :article %>
    </div>
  <% end %>
</div>
