<div class = "background-lightgrey">
  <div class = "container pt-2">
    <h3>You searched <%= @keyword.inspect %></h3>
    <p class = "mb-0">We found <%= [@results[:products].length > 0 ? pluralize(@results[:products].length, 'product') : nil, @results[:distilleries].length > 0 ? pluralize(@results[:distilleries].length, 'distillery') : nil, @results[:recipes].length > 0 ? pluralize(@results[:recipes].length, 'recipe') : nil, @results[:articles].length > 0 ? pluralize(@results[:articles].length, 'article') : nil].compact.to_sentence %>
    <div class = "row">
      <div class = "col-12">
        <hr class = "lyst-line-grey">
      </div>
    </div>
  </div>

  <div class = "container">
    <% unless @results[:products].blank? %>
      <h4 class = "mt-1">Products (<%= @results[:products].length %>)</h4>
      <div class = "row pb-5" id = "products">
        <%= render partial: 'products/lister_item', collection: @results[:products], as: :product, locals: { include_add_to_basket: true } %>
      </div>
    <% end %>

    <% unless @results[:distilleries].blank? %>
      <h4 class = "mt-1">Distilleries (<%= @results[:distilleries].length %>)</h4>
      <div class = "row pb-5" id = "products">
        <%= render partial: 'distilleries/lister_distillery', collection: @results[:distilleries], as: :distillery %>
      </div>
    <% end %>

    <% unless @results[:recipes].blank? %>
      <h4 class = "mt-1">Recipes (<%= @results[:recipes].length %>)</h4>
      <div class = "row pb-5" id = "recipes">
        <%= render partial: 'recipes/lister_recipe', collection: @results[:recipes], as: :recipe %>
      </div>
    <% end %>

    <% unless @results[:articles].blank? %>
      <h4 class = "mt-1">Articles (<%= @results[:articles].length %>)</h4>
      <div class = "row pb-5" id = "articles">
        <%= render partial: 'articles/lister_article', collection: @results[:articles], as: :article %>
      </div>
    <% end %>
  </div>
</div>