<div class="row hero-row py-5 bg-overlay" style="background: linear-gradient(rgba(365,365,365,0.5), rgba(365,365,365,0.9)), url('<%= article.banner_image.url(:full).to_s %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class = "col-md-6 text-center">
    <div class = "row">
      <div class = "col-6 offset-3 col-md-8 offset-md-2">
        <%= link_to article_path(article) do %>
          <%= image_tag article.banner_image.url(:square).to_s, class: "img-fluid image-border", lazy: true %>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "col-md-6 text-center my-md-5 py-md-5">
    <h1 class = "my-3 display-4"><%= link_to article.title, article_path(article) %></h1>
    <h4><%= article.description %></h4>
    <p class = "article-text"><%= article.read_time %> minute read</p>
  </div>
</div>