<div class = "container">
  <div class = "row">
    <div class = "col-md-6 offset-md-3">
      <h4>Edit address</h4>
      <%= simple_form_for @address, url: account_address_path(@address), method: :patch do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :phone_number, hint: "Royal Mail require a phone number for delivering parcels" %>
        <%= f.input :line_1 %>
        <%= f.input :line_2 %>
        <%= f.input :line_3 %>
        <%= f.input :post_town, label: "Town / City" %>
        <%= f.input :postcode %>
        <%= f.input :country, collection: Address::COUNTRIES, include_blank: false, hint: "We only ship to the UK!" %>
        <%= f.submit "Update", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
