<div class = "col-md-6 col-lg-4">
  <%= link_to recipe_path(recipe) do%>
    <div class = "booyah-box">
      <div class = "row">
        <div class = "col-12">
          <%= image_tag recipe.image, class: "img-fluid recipe-lister-image" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          <div class = "nice-padding">
            <h2><%= recipe.name %></h2>
            <p><%= recipe.description[0..100] %></p>
            <p><%= recipe.ingredient_list %></p>
            <div class = "btn btn-primary col-12 btn-slide">See more</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div> 