<div class = "col-6 col-md-4 col-lg-3 py-1">
  <%= link_to recipe_path(recipe) do%>
    <div class = "booyah-box">
      <div class = "row">
        <div class = "col-12">
          <%= image_tag recipe.image, class: "img-fluid d-block" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          <hr class = "booyah-line">
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          <div class = "nice-padding">
            <h2><%= recipe.name %></h2>
            <p><%= recipe.description[0..100] %></p>
            <p class = "text-muted"><em><%= recipe.ingredient_list %></em></p>
            <div class = "btn btn-primary col-12 btn-slide">See more</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div> 