<div class = "col-6 col-md-4 col-lg-3 my-2">
  <%= link_to recipe_path(recipe) do %>
    <div class="card h-100">
      <div class = "card-img-top">
        <%= image_tag recipe.image_url(:full).to_s, class: "img-fluid" %>
      </div>
      <div class="card-block">
        <h4 class="card-title"><%= recipe.name %></h4>
        <p class="card-text"><%= truncate(recipe.description, length: 100) %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><em><%= recipe.ingredient_list %></em></li>
      </ul>
    </div>
  <% end %>
</div>