<div class = "<%= 'my-2 col-6 col-md-' + md_upwards_col ||= 4.to_s %>">
  <%= link_to recipe_path(recipe) do %>
    <div class="card h-100">
      <div class = "card-img-top">
        <%= image_tag recipe.image_url(:full).to_s, class: "img-fluid" %>
      </div>
      <div class="card-block">
        <h4 class="card-title mb-2"><%= recipe.name %></h4>
        <p class = "card-subtitle text-muted">by <%= link_to recipe.author.name, author_path(recipe.author) %></p>
        <p class="card-text mt-2"><%= truncate_html(recipe.description, length: 100) %></p>
      </div>
    </div>
  <% end %>
</div>