<div class = "<%= 'my-2 col-6 col-md-' + md_upwards_col ||= 4.to_s %>">
  <%= link_to recipe_path(recipe) do %>
    <div class="card h-100">
      <div class = "card-img-top">
        <%= image_tag recipe.image_url(:full).to_s, class: "img-fluid", lazy: true %>
      </div>
      <div class="card-block">
        <h4 class="card-title"><%= recipe.name %></h4>
        <p class="card-text"><%= truncate_html(recipe.description, length: 100) %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><em><%= recipe.ingredient_list %></em></li>
      </ul>
    </div>
  <% end %>
</div>