<div class = "container-fluid">
  <div class = "owl-carousel owl-theme recipe-carousel">
    <%= render partial: "recipes/carousel_recipe", collection: @featured_recipes, as: :recipe %>
  </div>
</div>

<% if @tags.length > 0 %>
  <div class = "container-fluid background-secondary">
    <div class = "row py-2">
      <div class = "col-12 text-center">
        <h5 class = "text-white py-3">Top collections</h5>
        <% @tags.each do |tag| %>
          <%= link_to tag.name.capitalize, recipe_tag_path(tag.slug), class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class = "container-fluid">
  <div class = "row background-grey">
    <div class = "col-md-10 offset-md-1">
      <h4 class = "mt-3"><%= title 'Latest recipes' %></h4>
      <div class = "row">
        <%= render partial: "recipes/lister_recipe", collection: @recipes, as: :recipe %>
      </div>
      <div class = "row">
        <div class = "col-12 text-center">
          <%= will_paginate @recipes, :page_links => false %>
        </div>
      </div>
    </div>
  </div>
</div> 

<script>
  $('.owl-carousel.recipe-carousel').owlCarousel({
    stagePadding: 0,
    loop:true,
    dots: true,
    items: 1,
    nav: true,
    navText : ['<i class="fa fa-4x fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-4x fa-angle-right" aria-hidden="true"></i>']
  });
</script>
