<% if user_signed_in? && current_user.admin %>
  <div class = "container py-2">
    <div class = "row">
      <div class = "col-md-6 offset-md-3">
        <h6>Admin functions</h6>
        <div class = "row">
          <div class = "col-6">
            <%= link_to "Edit", edit_admin_recipe_path(@recipe), class: "btn btn-secondary col-10 offset-1" %>
          </div>
          <div class = "col-6">
            <%= link_to "Delete", admin_recipe_path(@recipe), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-10 offset-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class = "background-lightgrey pt-3">
  <div class = "container">
    <div class = "row pb-3 px-3">
      <div class = "col-12 col-md-6 my-2 px-0 pr-md-2">
        <%= image_tag @recipe.image_url(:full).to_s, class: "img-fluid" %>
      </div>

      <div class = "col-12 col-md-6 lyst-box my-2 pl-md-2">
        <div class = "px-3">  
          <h2 class = "my-0"><%= title @recipe.name %></h2>
          <h6 class = "text-secondary">by <%= link_to @recipe.author.name, author_path(@recipe.author), class: "text-primary" %></h6>
        </div>
        <div class = "py-1">
          <div class = "indent-dot left background-lightgrey"></div><div class = "indent-dot right  background-lightgrey"></div><hr class = "lyst-line-lightgrey my-2"/>
        </div>
        <div class = "px-3">
          <h6>📖 Ingredients</h6>
          <ul>
            <% @recipe.recipe_ingredients.each do |ri| %>
              <li>
                <%= "#{ri.quantity} " %> 
                <% if ri.ingredient.product.present? %>
                  <%= link_to ri.ingredient.name, product_path(ri.ingredient.product) %>
                <% else %>
                  <%= ri.ingredient.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <h6 class = "mt-3 mb-0">🍸 Method</h6>
          <p class = "article-text mt-2"><%= simple_format @recipe.method %></p>
            <div class = "favourite-unfavourite my-3"> <!-- This partial is replaced each time it's clicked -->
              <%= render partial: 'favourite_button', locals: {recipe: @recipe} %>
            </div> 
          <p><i class="fa fa-info-circle text-muted" aria-hidden="true"></i> Add all the ingredients to your Tesco, Ocado etc. baskets.</p>
          <div class = "btn-lg btn-success" id="new-shopping-list">Add to shopping list</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <div class = "row pt-3">
    <div class = "col-md-9">
      <% if @recipe.blurb.present? %>
        <h5 class = "text-center" id = "method">The story of <%= @recipe.name %></h5>
        <p class = "article-text"><%= simple_format @recipe.blurb %></p>
      <% end %>
      <% if @recipe.variants.length > 12 %> <!-- Seemingly has <p><br/></p> tags in as default -->
        <h5 class = "text-center" id = "method">Variants of <%= @recipe.name %></h5>
        <p class = "article-text"><%= simple_format @recipe.variants %></p>
      <% end %>
      <% unless @recipe.products.live.blank? %>
        <h5 class = "pt-2">Recommended products</h5>
        <div class = "row py-2">
          <%= render partial: 'products/lister_item', collection: @recipe.products.live, as: :product, locals: { md_upwards_col: (@recipe.products.live.size.between?(2, 4) ? 12/(@recipe.products.live.size) : 4).to_s, include_add_to_basket: true } %>
        </div>
      <% end %>
    </div>
    <div class = "col-md-3 float-right">
      <div id = "mostRead">
        <h5>Most read recipes</h5>
        <ol>
          <% @most_viewed_recipes.each do |recipe| %>
            <li><%= link_to recipe.name, recipe_path(recipe) %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class = "background-grey" id = "mostReadBottom">
  <% unless @same_author_recipes.blank? %>
    <div class = "container pt-3">
      <div class = "row">
        <div class = "col-12">
          <h3>Other recipes by <%= @recipe.author.name %></h3>
          <div class = "row">
            <%= render partial: 'recipes/lister_recipe', collection: @same_author_recipes, as: :recipe %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% unless @instas.blank? %>
    <div class = "container pt-3">
      <h3>Recent instagrams</h3>
      <h6 class = "text-muted"><%= link_to "##{@recipe.instagram_hashtag}", "http://instagram.com/tags/#{@recipe.instagram_hashtag}", :target => "_blank" %></h6>
      <div class = "clear"></div>
      <div class = "row">
        <%= render partial: "static_pages/instagram_tile", collection: @instas.data, as: :insta %>
      </div>
    </div>
  <% end %>
  <% unless @recipe.categories.blank? %>
    <div class = "container">
      <h4 class = "mt-3">Related categories</h4>
      <div class = "row mt-1">
        <%= render partial: 'categories/lister_category', collection: @recipe.categories, as: :category, locals: { md_upwards_col: (@recipe.categories.size.between?(2, 4) ? 12/(@recipe.categories.size) : 4).to_s } %>
      </div>
    </div>
  <% end %>
</div>
<div class = "background-grey">
  <div class = "container pt-2">
    <h3>Comments <span class = "badge badge-primary"><%= @comments.count %></span></h3>
    <div class = "row">
      <%= render partial: 'recipe_comment', collection: @comments, as: :comment %>
    </div>
    <div class = "row">
      <div class = "col-12">
        <% if user_signed_in? %>
          <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#newCommentModal">
            Add a comment
          </button>
        <% else %>
          <p class = "mt-2">Please <%= link_to "login", new_user_session_path, class: "btn btn-primary" %> or <%= link_to "sign up", new_user_registration_path, class: "btn btn-secondary" %> to add a comment</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newCommentModal" tabindex="-1" role="dialog" aria-labelledby="newCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCommentModalLabel">Add a comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @comment, url: recipe_recipe_comments_path(@recipe) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add comment", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    var mostReadTop = $('#mostRead').offset().top;
    var mostReadBottom = $('#mostReadBottom').position().top - $('#mostRead').innerHeight();
      
    // our function that decides weather the navigation bar should have "fixed" css position or not.
    var sticky = function(){
      var scrollTop = $(window).scrollTop(); // our current vertical position from the top
           
      // if we've scrolled more than the navigation, change its position to fixed to stick to top,
      // otherwise change it back to relative
      if (((scrollTop > mostReadTop) && (scrollTop < mostReadBottom)) && ($( window ).width() > 780)) { 
          $('#mostRead').addClass('sticky');
      } else {
          $('#mostRead').removeClass('sticky'); 
      }
    };

    sticky();
    // and run it again every time you scroll
    $(window).scroll(function() {
      sticky();
    });
  });
</script>

<script> 
  $(function() { 
    var Whisk = Whisk || {};
    Whisk.cmd = Whisk.cmd || [];
    Whisk.cmd.push(function () {
      Whisk.cmd.defineListItems('#new-shopping-list', [
        <%= @recipe.whisk_ingredients_list.html_safe + "," %>
      ])
    });
  });
</script>
