<% if user_signed_in? && current_user.admin %>
  <div class = "container py-2">
    <div class = "row">
      <div class = "col-md-6 offset-md-3">
        <h6>Admin functions</h6>
        <div class = "row">
          <div class = "col-6">
            <%= link_to "Edit", edit_admin_recipe_path(@recipe), class: "btn btn-secondary col-10 offset-1" %>
          </div>
          <div class = "col-6">
            <%= link_to "Delete", admin_recipe_path(@recipe), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-10 offset-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class = "container-fluid">
  <div class="row hero-row py-5" style="background-image: url('<%= @recipe.image.url(:full).to_s %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class = "col-md-8 offset-md-2 text-center">
      <div class = "background-translucent-grey py-3 mt-5">
        <div class = "">
          <h1 class = "my-3"><%= title @recipe.name %></h1>
          <% if @recipe.author.present? %>
            <p class = "article-text">by <%= link_to @recipe.author.name, author_path(@recipe.author) %></p>
          <% end %>
          <h4 class = ""><%= @recipe.description %></h6>
        </div>
        <% @recipe.rtags.each do |tag| %>
          <%= link_to tag.name.capitalize, recipe_tag_path(tag.slug), class: "btn btn-secondary my-2" %>
        <% end %>
        <div class = "favourite-unfavourite my-5"> <!-- This partial is replaced each time it's clicked -->
          <%= render partial: 'favourite_button', locals: {recipe: @recipe} %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class = "container">
  <div class = "row py-3">
    <div class = "col-md-9">
      <!-- Ingredients -->
      <h3 class = "text-center" id="ingredients">Ingredients</h3>
      <div class = "row">
        <ol>
          <% @recipe.recipe_ingredients.each do |ri| %>
            <!-- OLD VERSION WITH IMAGE - SAVED FOR IF WE RETURN TO THIS -->
            <!-- <div class = "col-6 col-sm-4 col-lg-3 text-center"> -->
              <!-- <div class = "">
                <% if ri.ingredient.image.present? %>
                  <%= image_tag ri.ingredient.image_url(:full).to_s, class: "img-fluid ingredient-image" %>
                <% else %>
                  <%= image_tag "ingredient_placeholder.jpg", class: "img-fluid ingredient-image" %>
                <% end %>
              </div> -->
              <!-- <p class = "article-text">
                <%= "#{ri.quantity} " %> 
                <strong>
                  <% if ri.ingredient.product.present? %>
                    <%= link_to ri.ingredient.name, product_path(ri.ingredient.product) %>
                  <% else %>
                    <%= ri.ingredient.name %>
                  <% end %>
                </strong>
              </p>
              <% if user_signed_in? && current_user.admin %>
                <%= link_to "Edit ingredient", edit_ingredient_path(ri.ingredient), class: "btn btn-secondary" %>
              <% end %>
            </div> -->
            <li>
              <%= "#{ri.quantity} " %> 
              <% if ri.ingredient.product.present? %>
                <%= link_to ri.ingredient.name, product_path(ri.ingredient.product) %>
              <% else %>
                <%= ri.ingredient.name %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
      <div class = "row">
        <div class = "col-6 offset-3">
          <hr class = "booyah-line my-3"/>
        </div>
      </div>
      <h3 class = "text-center" id = "method">Method</h3>
      <div class = "row"> <!-- Method -->
        <div class = "col-12">
          <p class = "article-text"><%= simple_format @recipe.method %></p>
        </div>
      </div>
      <% if @recipe.blurb.present? %>
        <div class = "row">
          <div class = "col-6 offset-3">
            <hr class = "booyah-line my-3"/>
          </div>
        </div>
        <h3 class = "text-center" id = "method">The story of <%= @recipe.name %></h3>
        <div class = "row"> <!-- History -->
          <div class = "col-12">
            <p class = "article-text"><%= simple_format @recipe.blurb %></p>
          </div>
        </div>
      <% end %>
      <% if @recipe.variants.length > 12 %> <!-- Seemingly has <p><br/></p> tags in as default -->
        <div class = "row">
          <div class = "col-6 offset-3">
            <hr class = "booyah-line my-3"/>
          </div>
        </div>
        <h3 class = "text-center" id = "method">Variants of <%= @recipe.name %></h3>
        <div class = "row"> <!-- History -->
          <div class = "col-12">
            <p class = "article-text"><%= simple_format @recipe.variants %></p>
          </div>
        </div>
      <% end %>
    </div> <!-- End of col-9 for floating most read -->
    <div class = "col-md-3 float-right">
      <div id = "mostRead">
        <h4>Most read recipes</h4>
        <ol>
          <% @most_viewed_recipes.each do |recipe| %>
            <li><%= link_to recipe.name, recipe_path(recipe) %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class = "background-grey" id = "mostReadBottom">
  <% unless @instas.blank? %>
    <div class = "container pt-3">
      <h3>Recent instagrams</h3>
      <h6 class = "text-muted"><%= link_to "##{@recipe.instagram_hashtag}", "http://instagram.com/tags/#{@recipe.instagram_hashtag}", :target => "_blank" %></h6>
      <div class = "clear"></div>
      <div class = "row">
        <%= render partial: "static_pages/instagram_tile", collection: @instas.data, as: :insta %>
      </div>
    </div>
  <% end %>
  <% unless @recipe.products.live.blank? %>
    <div class = "container">
      <h4>Recommended products</h4>
      <div class = "row py-2">
        <%= render partial: 'products/lister_item', collection: @recipe.products.live, as: :product, locals: { md_upwards_col: (12/(@recipe.products.live.size)).to_s } %>
      </div>
    </div>
  <% end %>
</div>
<div class = "background-secondary">
  <div class = "container pt-2">
    <h3 class = "text-white">Comments <span class = "badge badge-primary"><%= @comments.count %></span></h3>
    <div class = "row">
      <%= render partial: 'recipe_comment', collection: @comments, as: :comment %>
    </div>
    <div class = "row">
      <div class = "col-12">
        <% if user_signed_in? %>
          <button type="button" class="btn btn-primary my-2 col-12" data-toggle="modal" data-target="#newCommentModal">
            Add a comment
          </button>
        <% else %>
          <p class = "text-white">Please <%= link_to "login", new_user_session_path, class: "btn btn-primary" %> or <%= link_to "sign up", new_user_registration_path, class: "btn btn-secondary" %> to add a review</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newCommentModal" tabindex="-1" role="dialog" aria-labelledby="newCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCommentModalLabel">Add a comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @comment, url: recipe_recipe_comments_path(@recipe) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add comment", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    var mostReadTop = $('#mostRead').offset().top;
    var mostReadBottom = $('#mostReadBottom').position().top - $('#mostRead').innerHeight();
      
    // our function that decides weather the navigation bar should have "fixed" css position or not.
    var sticky = function(){
      var scrollTop = $(window).scrollTop(); // our current vertical position from the top
           
      // if we've scrolled more than the navigation, change its position to fixed to stick to top,
      // otherwise change it back to relative
      if (((scrollTop > mostReadTop) && (scrollTop < mostReadBottom)) && ($( window ).width() > 780)) { 
          $('#mostRead').addClass('sticky');
      } else {
          $('#mostRead').removeClass('sticky'); 
      }
    };

    sticky();
    // and run it again every time you scroll
    $(window).scroll(function() {
      sticky();
    });
  });
</script>
