<div class = "background-lightgrey pt-3">
  <div class = "container">
    <div class = "row pb-3 px-3">
      <div class = "col-12 col-md-6 my-2 px-0 pr-md-2">
        <% if @author.bio_image.present? %>
          <%= image_tag @author.bio_image_url(:full), class: "img-fluid" %>
        <% else %>
          <%= image_tag @author.mugshot.to_s, class: "img-fluid" %>
        <% end %>
      </div>

      <div class = "col-12 col-md-6 lyst-box my-2 pl-md-2">
        <div class = "px-3">  
          <h2 class = "my-0"><%= title @author.name %></h2>
          <h6 class = "text-muted">from <%= @author.location %></h6>
        </div>
        <div class = "py-1">
          <div class = "indent-dot left background-lightgrey"></div><div class = "indent-dot right  background-lightgrey"></div><hr class = "lyst-line-lightgrey my-2"/>
        </div>
        <div class = "px-3">
          <h6>📖 About</h6>
          <p class = "article-text"><%= @author.bio %></p>
          <% unless @author.recipes.blank? %>
            <div class = "col article-text no-link-highlight px-0 my-2">
              <a class="no-click" href="#recipes">
                <%= pluralize(@author.recipes.size, 'recipes') %>
              </a>
            </div>
          <% end %>
          <% unless @author.articles.blank? %>
            <div class = "col article-text no-link-highlight px-0 my-2">
              <a class="no-click" href="#articles"><%= pluralize(@author.articles.size, 'articles')%>
              </a>
            </div>
          <% end %>
          <div class = "row">
          <% if @author.instagram_link.present? %>
            <%= link_to @author.instagram_link, class: "btn btn-success col mx-2 text-center" do %>
              <i class="fa fa-instagram text-white" aria-hidden="true"></i> Follow on Instagram
            <% end %>
          <% end %>
          <% if @author.website_link.present? %>
            <%= link_to @author.website_link, class: "btn btn-success col mx-2 text-center" do %>
              <i class="fa fa-globe text-white" aria-hidden="true"></i> Visit website
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h3>Recipes</h3>
      <div class = "row" id = "recipes">
        <%= render partial: "recipes/lister_recipe", collection: @recipes, as: :recipe %>
      </div>
      <div class = "row">
        <div class = "col-12">
          <hr class = "booyah-line my-2" />
        </div>
      </div>
      <h3>Articles</h3>
      <div class = "row" id = "articles">
        <%= render partial: "articles/lister_article", collection: @articles, as: :article %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
  // Scrolling to appropriate area on page
  // Select all links with hashes
  $('a[href*="#"]')
    // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
});
</script>
