<div class = "container">
  <div class = "row">
    <% if current_distillery.is_transactional %>
      <div class = "col-12 my-3">
        <h4 class = "d-inline-block">Sales by product</h4>
        <p class = "d-inline-block float-right text-primary">See all reports</p>
        <%= line_chart current_distillery.products.map { |product|
            {name: product.name, data: product.sold_items.group_by_day(:created_at).sum(:quantity)}
        } %>
      </div>
    <% end %>
    <div class = "col-12">
      <% if current_distillery.is_transactional %>
        <h6 class = "text-muted">You're transactional. <%= link_to "Edit details", distiller_transactional_checklist_path %></h6>
      <% else %>
        <h3 class = "text-primary">You're not yet transactional. <%= link_to "Get transactional", distiller_transactional_checklist_path, class: "btn-lg btn-primary" %>
        </h3>
      <% end %>
    </div>
    <div class = "col-12 my-4">
      <h4>New Orders</h4>
      <div class = "row">
        <% if @unfulfilled_sold_items.length > 0 %>
          <!-- List out all incomplete orders and allow to mark as complete -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
                <th scope="col">View</th>
              </tr>
            </thead>
            <tbody>
              <% @unfulfilled_sold_items.each do |usi| %>
                <tr>
                  <th scope="row"><%= usi.created_at.strftime('%B %d, %Y at %H:%M') %></th>
                  <td><%= usi.product.name %></td>
                  <td><%= usi.quantity %></td>
                  <td><%= usi.state %></td>
                  <td><%= link_to "View order", distiller_sold_item_path(usi), class: "btn #{usi.shipping_label_created ? 'btn-success' : 'btn-secondary'}" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>You don't have any new orders :(</p>
        <% end %>
      </div>
      <h3>Products</h3>
      <div class = "row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Stock status</th>
              <th scope="col">Change stock status</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <th scope="row"><%= link_to product.name, product_path(product) %><%= render partial: 'products/star_rating', locals: {product: product}, class: "float-right" %></th>
                <td><%= product.is_in_stock ? "In stock" : "Out of stock" %></td>
                <td><%= render partial: 'distiller/products/stock_toggle', locals: {product: product} %></td>
                <td><%= link_to "Edit", edit_distiller_product_path(product), class: "btn btn-primary d-inline" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
