<div class = "container">
  <div class = "row">
    <!-- Charts -->
    <% if current_distillery.is_transactional %>
      <div class = "col-12 my-3">
        <h4 class = "d-inline-block">Sales by product</h4>
        <p class = "d-inline-block float-right text-primary"><%= link_to "Go to reporting dashboard",distiller_reports_path %></p>
        <%= line_chart current_distillery.products.map { |product|
            {name: product.name, data: product.sold_items.group_by_week(:created_at).sum(:quantity)}
        } %>
      </div>
    <% end %>

    <!-- Transactional checklists -->
    <div class = "col-12">
      <% if current_distillery.is_transactional && current_distillery.products.map{|product| product.is_transactional}.all? %>
        <h6 class = "text-muted">You're transactional. <%= link_to "Edit details", distiller_transactional_checklist_path %></h6>
      <% elsif current_distillery.is_transactional %>
        <h6 class = "text-primary mt-4">Not all of your products are yet transactional.</h6> <%= link_to "Get transactional", distiller_transactional_checklist_path, class: "btn btn-primary mt-2" %>
      <% else %>
        <h6 class = "text-primary mt-4">You're not yet transactional.</h6> <%= link_to "Get transactional", distiller_transactional_checklist_path, class: "btn btn-primary mt-2" %>
      <% end %>
    </div>

    <!-- Batches -->
    <% if @unshipped_batches.length > 0 %>
      <div class = "col-12 my-4">
        <h4 class = "d-inline-block">Batches, ready to be shipped</h4>
        <p class = "d-inline-block float-right text-primary"><%= link_to "View all batches", distiller_batches_path %></p>
        <div class = "clear"></div>
        <div class = "row">
          <ol>
            <% @unshipped_batches.each do |batch| %>
              <li><%= batch.description %> <%= render partial: 'distiller/batches/shipped_toggle', locals: {batch: batch} %></li>
            <% end %>
          </ol>
        </div>
      </div>
    <% end %>
    <div class = "col-12 my-4">
      <h4 class = "d-inline-block">New orders, ready to be batched</h4>
      <p class = "d-inline-block float-right text-primary"><%= link_to "View shipped orders", distiller_sold_items_path %></p>
      <div class = "clear"></div>
      <div class = "row">
        <% if @unbatched_sold_items.length > 0 %>
          <!-- List out all incomplete orders and allow to mark as complete -->
          <%= simple_form_for @batch, url: distiller_batches_path, class: "col-12" do |f| %>
            <%= f.association :sold_items, :collection => @unbatched_sold_items, as: :check_boxes, value_method: :id, label: false, label_method: :description, item_wrapper_tag: :div, item_wrapper_class: "style_item", :input_html => { :checked => true } %>
            <%= f.submit "Create batch", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <p>You don't have any new orders :(</p>
        <% end %>
      </div>
    </div>
    <div class = "col-12 my-4">
      <h3>Products</h3>
      <div class = "row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Stock status</th>
              <th scope="col">Change stock status</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <th scope="row"><%= link_to product.name, product_path(product) %><%= render partial: 'products/star_rating', locals: {product: product}, class: "float-right" %></th>
                <td><%= product.is_in_stock ? "In stock" : "Out of stock" %></td>
                <td><%= render partial: 'distiller/products/stock_toggle', locals: {product: product} %></td>
                <td><%= link_to "Edit", edit_distiller_product_path(product), class: "btn btn-primary d-inline" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
