<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h1>Distillery portal</h1>
      <% unless current_distillery.is_transactional %>
        <h3 class = "text-primary">You're not yet transactional
        <%= link_to "Get transactional", distiller_transactional_checklist_path, class: "btn-lg btn-primary" %>
      <% end %>
      <h3>New Orders</h3>
      <div class = "row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <% @unfulfilled_sold_items.each do |usi| %>
              <tr>
                <th scope="row"><%= usi.created_at.strftime('%Y-%m-%d at %H:%M:%S') %></th>
                <td><%= usi.product.name %></td>
                <td><%= usi.quantity %></td>
                <td><%= usi.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <!-- List out all incomplete orders and allow to mark as complete -->
      </div>
      <h3>Products</h3>
      <div class = "row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Orders</th>
              <th scope="col">Stock status</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <th scope="row"><%= link_to product.name, product_path(product) %><%= render partial: 'products/star_rating', locals: {product: product}, class: "float-right" %></th>
                <td><%= product.total_sold %></td>
                <td><%= render partial: 'distiller/products/stock_toggle', locals: {product: product} %><%= link_to "Edit", edit_distiller_product_path(product), class: "btn btn-primary d-inline" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
