<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h1>Distillery portal</h1>
      <% unless current_distillery.is_transactional %>
        <h3 class = "text-primary">You're not yet transactional
        <%= link_to "Get transactional", distiller_transactional_checklist_path, class: "btn-lg btn-primary" %>
      <% end %>
      <h3>Orders</h3>
      <div class = "row">
        <!-- List out all incomplete orders and allow to mark as complete -->
      </div>
      <h3>Products</h3>
      <div class = "row">
        <div class = "col-5">
          <p>Name</p>
        </div>
        <div class = "col-2">
          <p>Orders</p>
        </div>
        <div class = "col-5">
          <p>Stock</p>
        </div>
      </div>
      <div class = "row">
        <!-- List out all products and allow to mark as out of stock or go to edit page - Maybe just indicate instock and link to edit -->
        <% @products.each do |product| %>
          <div class = "col-5">
            <%= link_to product.name, product_path(product) %>
            <%= render partial: 'products/star_rating', locals: {product: product}, class: "float-right" %>
          </div>
          <div class = "col-2">
            <%= product.total_sold %>
          </div>
          <div class = "col-5">
            <div class = "btn-group">
              <%= render partial: 'distiller/products/stock_toggle', locals: {product: product} %>
              <%= link_to "Edit", edit_distiller_product_path(product), class: "btn btn-primary d-inline" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
