<div class = "background-lightgrey">
  <div class = "container">
    <div class = "row">


      <!-- Transactional checklists -->
      <div class = "col-12">
        <% unless current_distillery.is_transactional && current_distillery.products.map{|product| product.is_transactional}.all? %>
          <h6 class = "text-primary mt-4">You and your products aren't fully transactional yet!</h6> <%= link_to "Get transactional", distiller_transactional_checklist_path, class: "btn btn-primary mt-2" %>
        <% end %>
      </div>

      <!-- If you've got neither auto orders or manual orders, show advice on how to get more -->
      <% if @unbatched_sold_items.length == 0 && @unshipped_auto_batches.length == 0 && @unshipped_manual_sold_items.length == 0 %>
        <div class = "col-12 my-3 py-3 px-3 lyst-box">
          <h4>You have no new orders. Drive more with the tips below:</h4>
          <ol>
            <li class = "mt-2">
              <strong>Product presentation</strong>: Check all of your products are presented in a brilliant light. Got any new <strong>photos</strong>? Any new <strong>stories</strong> you'd like to tell? Send them across to <%= mail_to "support@craftr.co.uk", "support@craftr.co.uk", class: "text-primary" %>. Links:
              <ul>
                <% current_distillery.products.each do |product| %>
                  <li><%= link_to product.name, product_path(product) %></li>
                <% end %>
              </ul>
            </li>
            <li class = "mt-2">
              <strong>Recipes</strong>: Got any new signature serves? We can add a recipe to <%= link_to "our collection", recipes_path, class: "text-primary" %> and push it out over Instagram. Contact <%= mail_to "mike@craftr.co.uk", "mike@craftr.co.uk", class: "text-primary" %>
            </li>
            <li class = "mt-2">
              <strong>Link to us as a stockist</strong>: Please make sure your distillery site links to craftr as a stockist. Links help us build our search engine presence.
            </li>
            <li class = "mt-2">
              <strong>Instagram</strong>: Send across any Instagram posts you're particularly proud of, and we will consider sharing them with our following.
            </li>
            <li class = "mt-2">
              <strong>Giveaways</strong>: How about a one-time giveaway? You provide the product, and we'll send followers your way (contestants must follow both Craftr and you to take part). Tag a friend who you'd share this bottle with - that sort of thing.
            </li>
            <li class = "mt-2">
              <strong>Pricing</strong>: Is Craftr competitively priced vs. <%= link_to "Master of Malt", "https://www.masterofmalt.com" %> and <%= link_to "31 Dover", "https://www.31dover.co.uk" %>? If not, it may be helpful to renogotiate!
            </li>
          </ol>
        </div>
      <% end %>

      <!-- If you've got auto orders, batched of unbatched, show auto orders bit -->
      <% if @unbatched_sold_items.length > 0 || @unshipped_auto_batches.length > 0 %>
        <!-- Auto postage -->
        <div class = "col-12 my-3 py-3 px-3 lyst-box">
          <div class = "row">
            <div class = "col-12">
              <!-- If no auto orders, hide -->
              <!-- If products to batch, show form, otherwise say hold on a sec if awaiting postage labels -->
              <% if @unbatched_sold_items_auto_with_postage_labels.length > 0 %>
                <h4 class = "d-inline-block">1. You have unbatched items ready to ship</h4>
                <p class = "d-inline-block float-right text-primary"><%= link_to "View shipped orders", distiller_sold_items_path %></p>
                <div class = "clear"></div>
                <p class = "text-muted">Select all items that you are ready to post and click "Create batch" to generate all postage labels and scanform</p>
                <%= simple_form_for @batch, url: distiller_batches_path do |f| %>
                  <%= f.association :sold_items, :collection => @unbatched_sold_items_auto_with_postage_labels, as: :check_boxes, value_method: :id, label: false, label_method: :description, item_wrapper_tag: :div, item_wrapper_class: "style_item", :input_html => { :checked => true } %>
                  <%= f.submit "Create batch", class: "btn btn-primary mb-3" %>
                <% end %>
              <% end %>
              <% if @unbatched_sold_items_auto_without_postage_labels.length > 0 %>
                <h4>1. Hold tight, we're currently purchasing your shipping labels for <%= pluralize(@unbatched_sold_items_auto_without_postage_labels.length, 'order') %>.</h4>
                <p>Please reload the page shortly. In the meantime, you can prepare the parcels for <%= @unbatched_sold_items_auto_without_postage_labels.map{|si| si.description }.to_sentence %></p>
              <% end %>
            </div>

            <!-- Deal with the batch -->
            <% if @unshipped_auto_batches.length > 0 %>
              <div class = "col-12">
                <h4>1. <i class="fa fa-check text-green" aria-hidden="true"></i> You have existing batches, see below.</h4>
                <hr class = "lyst-line-lightgrey"/>
                <h4 class = "d-inline-block">2. Print labels and scanform, and mark as shipped</h4>
                <p class = "d-inline-block float-right text-primary"><%= link_to "View all batches", distiller_batches_path %></p>
                <div class = "clear"></div>
                <% @unshipped_auto_batches.each_with_index do |batch, index| %>
                  <%= link_to "Batch from " + time_ago_in_words(batch.created_at) + " ago", distiller_batch_path(batch), :target => "_blank", class: "btn btn-success" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- If you've got unshipped manual items, show manual part -->
      <% if @unshipped_manual_sold_items.length > 0 %>
        <div class = "col-12 mt-2">
          <h3>Manual postage - <%= pluralize(@unshipped_manual_sold_items.sum(&:quantity), 'product') %> to ship</h3>
          <h6>Prepare products, buy postage and mark as shipped</h6>
          <div class = "row">
            <% @unshipped_manual_sold_items.each do |si| %>
              <div class = "col-6 col-md-4 my-2">
                <div class="card h-100">
                  <div class="card-block">
                    <div class="card-text">
                      <p class = "mb-0"><strong><%= "#{si.quantity} x #{si.product.name}" %></strong></p>
                      <p>ordered <%= time_ago_in_words(si.created_at) %> ago</p>
                      <p class = "mb-0"><%= si.order.shipping_address.full_name %></p>
                      <p class = "mb-0"><%= si.order.shipping_address.line_1 %></p>
                      <% if si.order.shipping_address.line_2.present? %>
                        <p class = "mb-0"><%= si.order.shipping_address.line_2 %></p>
                      <% end %>
                      <% if si.order.shipping_address.line_3.present? %>
                        <p class = "mb-0"><%= si.order.shipping_address.line_3 %></p>
                      <% end %>
                      <p class = "mb-0"><%= si.order.shipping_address.post_town %></p>
                      <p class = "mb-0"><%= si.order.shipping_address.postcode %></p>
                      <p class = "mb-0"><%= si.order.shipping_address.phone_number %></p>
                      <%= link_to "Mark as shipped", mark_as_shipped_distiller_sold_item_path(si), class: "mt-2 mb-0 btn btn-success", method: :patch %>
                    </div>
                  </div>
                  <div class="card-footer">
                    <p class = "mb-0"><%= number_to_currency(((si.distillery_take.to_f * si.quantity) / 100), unit: "£") %> paid into your Stripe account</p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- Products -->
      <div class = "col-12 lyst-box py-3 px-3 my-4">
        <h3>Your products</h3>
        <div class = "row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Stock status</th>
                <th scope="col">Change stock status</th>
                <th scope="col">Edit product details</th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <th scope="row"><%= link_to product.name.titleize, product_path(product) %></th>
                  <td class = "stock-product-<%= product.id %>"><%= product.is_in_stock ? "✔️ In stock" : "❌ Out of stock" %></td>
                  <td class = "toggle-product-<%=product.id %>"><%= render partial: 'distiller/products/stock_toggle', locals: {product: product} %></td>
                  <td><%= link_to "Edit", edit_distiller_product_path(product), class: "btn btn-primary d-inline" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class = "row">
      <!-- Charts -->
      <% if current_distillery.is_transactional %>
        <div class = "col-12 my-3">
          <h4 class = "d-inline-block">Sales by product</h4>
          <p class = "d-inline-block float-right text-primary"><%= link_to "Go to reporting dashboard",distiller_reports_path %></p>
          <%= line_chart current_distillery.products.map { |product|
              {name: product.name.titleize, data: product.sold_items.group_by_week(:created_at).sum(:quantity)}
          } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
