<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <%= simple_form_for @order, url: order_addresses_path do |f| %>
        <%= f.input :shipping_address_id, collection: current_user.addresses, label_method: :full_address_no_name, value_method: :id, include_blank: false %>
        <%= f.input :shipping_type_id, collection: @shipping_types, label_method: :full_shipping_type, value_method: :id, include_blank: false %>
        <%= f.submit "Proceed to payment", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class = "row mt-5" id = "new-address">
    <div class = "col-12">
      <h6>Add a new address</h6>
    </div>
    <div class = "col-md-6 col-ld-4">
    <%= simple_form_for @address, url: checkout_addresses_path do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :line_1 %>
      <%= f.input :line_2 %>
      <%= f.input :line_3 %>
      <%= f.input :post_town %>
      <%= f.input :postcode %>
      <%= f.submit "Add", class: "btn btn-primary col-12" %>
    <% end %>
  </div>
</div>
