<div class = "container">
  <div class = "row">  
    <div class = "col-12 my-4">
      <h4>Shipped Orders</h4>
      <div class = "row">
        <% if @sold_items.length > 0 %>
          <!-- List out all incomplete orders and allow to mark as complete -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">State</th>
                <th scope="col">View batch</th>
                <th scope="col">View order</th>
              </tr>
            </thead>
            <tbody>
              <% @sold_items.each do |si| %>
                <tr>
                  <th scope="row"><%= si.created_at.strftime('%B %d, %Y at %H:%M') %></th>
                  <td><%= si.description %></td>
                  <td><%= si.state %></td>
                  <% if si.batch.present? %>
                    <td><%= link_to "View batch", distiller_batch_path(si.batch), class: "btn btn-primary" %></td>
                  <% else %>
                    <td><%= link_to "Please batch", distiller_dashboard_path, class: "text-primary" %></td>
                  <% end %>
                  <td><%= link_to "View order", distiller_sold_item_path(si), class: "btn #{si.shipping_label_created ? 'btn-success' : 'btn-secondary'}" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>You haven't shipped any orders :(</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
