<div class = "container">
  <div class = "row">  
    <div class = "col-12 my-4">
      <h4>Shipped Orders</h4>
      <div class = "row">
        <% if @fulfilled_sold_items.length > 0 %>
          <!-- List out all incomplete orders and allow to mark as complete -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Order</th>
                <th scope="col">Status</th>
                <th scope="col">Mark as shipped</th>
                <th scope="col">View</th>
              </tr>
            </thead>
            <tbody>
              <% @fulfilled_sold_items.each do |usi| %>
                <tr>
                  <th scope="row"><%= usi.created_at.strftime('%B %d, %Y at %H:%M') %></th>
                  <td><%= usi.product.name %></td>
                  <td><%= "#{usi.quantity} * #{usi.product.name}" %></td>
                  <td><%= usi.state %></td>
                  <td><%= render partial: 'distiller/products/shipped_toggle', locals: {si: usi} %></td>
                  <td><%= link_to "View order", distiller_sold_item_path(usi), class: "btn #{usi.shipping_label_created ? 'btn-success' : 'btn-secondary'}" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>You haven't shipped any orders :(</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
