<div class = "container">
  <div class = "row mt-3">
    <div class = "col-12">
      <div class = "d-inline-block">
        <h4>Order of <span class = "text-primary"><%= "#{@sold_item.quantity} x #{@sold_item.product.name}" %></span></h4>
        <p class = "text-muted">We've paid you <%= number_to_currency((@sold_item.total_distillery_received.to_f / 100), unit: "£") %> and <%= @sold_item.shipping_label_created ? "have sorted your shipping" : "are sorting your shipping - please check back in 5 minutes. If this persists, please contact support@craftr.co.uk" %></p>
      </div>
      <div class = "d-inline-block float-right">
        <p>Status: <%= @sold_item.state %></p>
      </div>
    </div>
  </div>
  <div class = "row mt-1 mb-4">
    <div class = "col-12">
      <%= render partial: 'distiller/sold_items/shipped_toggle', locals: {sold_item: @sold_item} %>
    </div>
  </div>
  <div class = "row mb-2">
    <div class = "col-12">
      <hr class = "booyah-line" />
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-4">
      <% if @scan_form_url.present? %>
        <%= link_to @scan_form_url do %>
          <h4>Your scan form</h4>
          <p class = "text-muted">Please print this and take to the Post Office to speed up shipment</p>
          <div class = "btn btn-primary my-2">View form</div>
        <% end %>
      <% else %>
        <h4>Please wait - we are creating the scanform for this manifest.</h4>
        <p class = "text-muted">This is required for posting at a post office - please check back in 5 minutes</p>
      <% end %>
    </div>
  </div>
  <div class = "row mb-2">
    <div class = "col-12">
      <hr class = "booyah-line" />
    </div>
  </div>
  <% if current_distillery.sold_items.where(shipped: true).length < 10 %>
    <div class = "row">
      <div class = "col-12">
        <div class = "alert alert-info">Hint: to print, click the label, then right click <strong>not on the image</strong> in the new tab and click Print</div>
      </div>
    </div>
  <% end %>
  <div class = "row mb-2">
    <% @postages.each_with_index do |sl, index| %>
      <div class = "col-6 col-md-3 mb-3">
        <%= link_to sl.postage_label_url do %>
          <h6>Shipping label #<%= index + 1 %></h6>
          <p class = "text-muted">For 1 bottle in a Royal Mail Small Parcel</p>
          <div id = "divToPrint">
            <%= image_tag sl.postage_label_url, class: "img-fluid" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
