<div class = "container">
  <div class = "row mt-3">
    <div class = "col-12">
      <div class = "d-inline-block">
        <% if @batch.created_at < 2.days.ago && @batch.shipped != true %>
          <div class = "alert alert-danger">This batch should have been posted. Please post and mark as shipped today.</div>
        <% end %>
        <h4>Batch of <span class = "text-primary"><%= @batch.sold_items.map{|si| si.description }.to_sentence %></span></h4>
      </div>
      <div class = "d-inline-block float-right mb-3">
        <%= render partial: 'distiller/batches/shipped_toggle', locals: {batch: @batch} %>
      </div>
    </div>
  </div>
  <div class = "row mb-2">
    <div class = "col-12">
      <hr class = "booyah-line" />
    </div>
  </div>
  <div class = "row">
    <% if @scanform_url.present? %>
      <div class = "col-md-4">
        <%= link_to @scanform_url, :target => "_blank" do %>
          <h4>Your scan form</h4>
          <p class = "text-muted">Please print this and take to the Post Office to speed up shipment</p>
          <div class = "btn btn-primary my-2">View form</div>
        <% end %>
      </div>
    <% else %>
      <div class = "col-12">
        <h4>Scanform being created - refresh the page in a few minutes</h4>
        <p class = "text-muted">In the meantime, please print and attach the postage labels below to the parcels</p>
      </div>
    <% end %>
  </div>
  <div class = "row mb-2">
    <div class = "col-12">
      <hr class = "booyah-line" />
    </div>
  </div>
  <% if current_distillery.sold_items.where(shipped: true).length < 10 %>
    <div class = "row">
      <div class = "col-12">
        <div class = "alert alert-info">Hint: to print, click the label, then right click <strong>not on the image</strong> in the new tab and click Print</div>
      </div>
    </div>
  <% end %>
  <div class = "row mb-2">
    <% @sold_items.each do |si| %>
      <div class = "col-12">
        <h6>Order for <%= si.description %></h6>
      </div>
      <% si.postages.each_with_index do |sl, index| %>
        <div class = "col-6 col-md-4 mb-3">
          <%= link_to sl.postage_label_url, :target => "_blank" do %>
            <h6>Shipping label #<%= index + 1 %></h6>
            <p class = "text-muted">For 1 bottle in a Royal Mail Small Parcel</p>
            <div id = "divToPrint">
              <%= image_tag sl.postage_label_url, class: "img-fluid" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
