<div class = "background-grey">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-6 offset-md-3 lyst-box my-2 px-3 py-3">
        <h3 class = "my-2">Edit <%= @collection.name %></h3>
        <%= simple_form_for @collection, url: admin_collection_path do |f| %>
          <%= f.input :name, hint: "Keep it brief - this will is what will appear clickable" %>
          <%= f.input :description, hint: "SEO friendly stuff is important here" %>
          <%= f.input :image %>
          <%= f.input :category_id, collection: @categories %>
          <div class = "all_product_fields">
            <%= f.simple_fields_for :collection_products do |cp| %>
              <div class = "row product_field">
                <div class = "col-6">
                  <%= cp.input :product_id, collection: @products, value_method: :id  %>
                </div>
                <hr/>
              </div>
            <% end %>
          </div>
          <p><a href="#" class="add_product_field">+ add another</a></p>
          <%= f.submit "Update", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    //Product nested attributes
    var productIndex = $('.product_field').length - 1;

    $(".add_product_field").click(function(evt) {
      evt.stopImmediatePropagation();
      productIndex++;

      // clone the labels and select fields
      var newFields = $('.product_field').first().clone().appendTo( ".all_product_fields" );
      // change the select field names and ids
      newFields.find("select").each(function(index) {
        newId   = $(this).attr("id").replace(/0/g, productIndex);
        newName = $(this).attr("name").replace(/0/g, productIndex);
        $(this).attr("id", newId);
        $(this).attr("name", newName);
      });

      //Add a remove button for all apart from the first user_instrument
      newFields.find("hr").before('<div class = "btn btn-danger col-6 offset-3 remove-field">Remove</div>');
      $('.remove-field').click(removeProductFields);

      // change the label fors
      newFields.find("label").each(function(index) {
        newFor = $(this).attr("for").replace(/0/g, productIndex);
        $(this).attr("for", newFor);
      });
    });

    function removeProductFields(evt) {
      evt.stopImmediatePropagation();
      $(this).parent('div').remove();
      productIndex--;
    }
  });
</script>

