<div class = "col-md-6 col-lg-4">
  <div class = "booyah-box nice-padding">
    <p><strong><%= address.first_name %> <%= address.last_name %></strong></p>
    <p><%= address.line_1 %></p>
    <p><%= address.line_2 %></p>
    <p><%= address.line_3 %></p>
    <p><%= address.post_town %></p>
    <p><%= address.postcode %></p>
  </div>
</div>
