<div class = "container-fluid">
  <div class = "row">
    <div class = "col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <%= simple_form_for @category, url: admin_category_path do |f| %>
        <%= f.input :name %>
        <%= f.input :icon %>
        <%= f.input :instagram_hashtag %>
        <%= f.input :banner_image %>
        <%= f.input :featured %>
        <%= f.input :row_order_position, hint: "Put n-1 of where you want this to be ranked. E.g. '0' to be ranked first" %>
        <br />
        <%= f.submit "Update", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>