<div class = "container-fluid">
  <div class = "row">
    <div class = "col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <%= simple_form_for @product, url: admin_products_path do |f| %>
        <%= f.input :name %>
        <%= f.input :SKU %>
        <%= f.input :distillery_id, collection: @distilleries %>
        <%= f.input :category_id, collection: @categories %>
        <%= f.input :price %>
        <%= f.input :description_short %>
        <%= f.input :description_first %>
        <%= f.input :description_second %>
        <%= f.input :alcohol_percentage %>
        <%= f.simple_fields_for :product_images do |p| %>
          <%= p.input :photo %>
        <% end %>
        <br />
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
