<div class = "container-fluid">
  <div class = "row">
    <div class = "col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <%= simple_form_for @product, url: admin_products_path do |f| %>
        <%= f.input :name %>
        <%= f.input :SKU %>
        <%= f.input :distillery_id, collection: @distilleries %>
        <%= f.input :category_id, collection: @categories %>
        <%= f.input :price, hint: "*Enter in pennies* This is super important, and won't let you enter anything less than 100" %>
        <%= f.input :description_short, input_html: { class: 'quill_container' }, hint: 'Surfaces as "What we say"' %>
        <%= f.input :description_first, input_html: { class: 'quill_container' } %>
        <%= f.input :description_second, input_html: { class: 'quill_container' } %>
        <%= f.input :alcohol_percentage %>
        <%= f.input :dry_to_sweet %>
        <%= f.input :subtle_to_intense %>
        <%= f.input :fresh_to_complex %>
        <div class = "all_image_fields">
          <%= f.simple_fields_for :product_images do |i| %>
            <div class = "row image_field">
              <div class = "col-12">
                <%= i.input :photo %>
              <hr />
              </div>
            </div>
          <% end %>
        </div>
        <p><a href="#" class="add_image_field">+ add another</a></p>
        <br />
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    //Ingredients nested attributes
    var imageIndex = $('.image_field').length - 1;

    $(".add_image_field").click(function(evt) {
      evt.preventDefault();
      imageIndex++;

      // clone the labels and select fields
      var newFields = $('.image_field').first().clone().appendTo( ".all_image_fields" );
      // change the select field names and ids
      newFields.find("input").each(function(index) {
        var newId   = $(this).attr("id").replace(/0/g, imageIndex);
        var newName = $(this).attr("name").replace(/0/g, imageIndex);
        $(this).attr("id", newId);
        $(this).attr("name", newName);
      });

      //Add a remove button for all apart from the first recipe_ingredient
      newFields.find("hr").before('<div class = "btn btn-danger col-6 offset-3 remove-field">Remove</div>');
      $('.remove-field').click(removeImageFields);

      // change the label fors
      newFields.find("label").each(function(index) {
        newFor = $(this).attr("for").replace(/0/g, imageIndex);
        $(this).attr("for", newFor);
      });
    });

    function removeImageFields(evt) {
      evt.preventDefault();
      $(this).parent('div').remove();
      imageIndex--;
    }
  });
</script>