<li class = "nav-item">  
  <%= link_to cart_path do %>
    <p class = "nav-link mb-0 pb-0"><i class="fa fa-shopping-cart fa-2x <%= 'text-primary' if @order.order_items.length > 0 %>"></i></p>
  <% end %>
</li>
<% if order.total_unpaid_quantity > 0 %>
  <li class = "nav-item">
    <%= link_to cart_path do %>
      <p class = "nav-link py-0 my-0">
        <span class = "cart-product-count"><%= pluralize(order.total_unpaid_quantity, 'item') %></span>
        <br />
        <span class = "cart-total-price"><%= number_to_currency((order.total_unpaid_product_amount.to_f / 100), unit: "£") %></span>
      </p>
    <% end %>
  </li>
<% end %>