<!-- Look into using a table instead: https://v4-alpha.getbootstrap.com/content/tables/ -->

<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h3>Your basket</h3>
      <div class="basket-header">
        <div class="row">
          <div class="col-5">Product</div>
          <div class="col-2">Price</div>
          <div class="col-2">Quantity</div>
          <div class="col-2">Total</div>
          <div class="col-1 text-center">Remove</div>
        </div>
      </div>
      <h6>Products</h6>
      <% @order_items.each do |oi| %>
        <div class = "row">
          <div class = "col-1"><%= image_tag oi.product.product_images.first.photo_url(:thumb).to_s, class: "img-fluid" %></div>
          <div class = "col-4"><%= oi.product.name %></div>
          <div class = "col-2"><%= render partial: 'products/price_formatted', locals: {product: oi.product} %></div>
          <div class = "col-2"><%= oi.quantity %></div>
          <div class = "col-2">£<%= (oi.subtotal_in_pence / 100).to_f %></div>
          <div class = "col-1"><%=link_to "Remove", order_item_path(oi), method: :delete %></div>
        </div>
      <% end %>
      <h6 class = "mt-3">Delivery</h6>
      <%= simple_form_for @order, url: order_shipping_path do |f| %>
        <div class = "row">
          <div class = "col-1"><i class="fa fa-truck" aria-hidden="true"></i></div>
          <div class = "col-4"><%= f.input :shipping_type_id, collection: @shipping_types, label_method: :full_shipping_type, value_method: :id, label: false, include_blank: false, input_html: {value: 1} %></div>
          <div class = "col-2 delivery-individual price"><%= (@default_shipping_type.price / 100).to_f %></div> 
          <div class = "col-2"><%= @order.total_quantity %></div>
          <div class = "col-2 delivery-total-price">£<%= (@order.total_quantity * @default_shipping_type.price / 100).to_f %></div>
        </div>
        <div class = "row">
          <div class = "col-9"></div>
          <div class = "col-2">
            <strong>£<%= ((@order.total_product_amount + (@order.total_quantity * @default_shipping_type.price)) / 100).to_f %></strong>
          </div>
        </div>
        <%= f.submit "Proceed to checkout", class: "btn btn-primary col-12" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  //Update delivery total price on delivery total price change
</script>
