<!-- Look into using a table instead: https://v4-alpha.getbootstrap.com/content/tables/ -->

<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h3>Your basket</h3>
      <div class="basket-header">
        <div class="row">
          <div class="col-5">Product</div>
          <div class="col-2">Price</div>
          <div class="col-2">Quantity</div>
          <div class="col-2">Total</div>
          <div class="col-1 text-center">Remove</div>
        </div>
      </div>

      <% @order_items.each do |oi| %>
        <div class = "row">
          <div class = "col-1"><%= image_tag oi.product.product_images.first.photo_url(:thumb).to_s, class: "img-fluid" %></div>
          <div class = "col-4"><%= oi.product.name %></div>
          <div class = "col-2"><%= render partial: 'products/price_formatted', locals: {product: oi.product} %></div>
          <div class = "col-2"><%= oi.quantity %></div>
          <div class = "col-2">£<%= oi.subtotal %></div>
          <div class = "col-1">Remove</div>
        </div>
      <% end %>
    </div>
    <%= link_to "Proceed to checkout", new_checkout_address_path, class: "btn btn-primary" %>
  </div>
</div>
