<div class = "owl-carousel distillery-carousel">
  <div class = "row distillery-carousel-image" style="background:transparent url('<%= distillery.summary_image.url %>') no-repeat center center /cover">
    <div class = "col-md-6 offset-md-3">
      <div class = "background-translucent-black mt-5 py-2 px-2 text-center">
        <h3 class = "text-white">The distillery</h3>
        <p class = "text-white"><%= distillery.summary_text %></p>
      </div>
    </div>
  </div>
  <div class = "row distillery-carousel-image" style="background:transparent url('<%= distillery.people_image.url %>') no-repeat center center /cover">
    <div class = "col-md-6 offset-md-3">
      <div class = "background-translucent-black mt-5 py-2 px-2 text-center">
        <h3 class = "text-white">The people</h3>
        <p class = "text-white"><%= distillery.people_text %></p>
      </div>
    </div>
  </div>
  <div class = "row distillery-carousel-image" style="background:transparent url('<%= distillery.range_image.url %>') no-repeat center center /cover">
    <div class = "col-md-6 offset-md-3">
      <div class = "background-translucent-black mt-5 py-2 px-2 text-center">
        <h3 class = "text-white">The products</h3>
        <p class = "text-white"><%= distillery.range_text %></p>
      </div>
    </div>
  </div>
</div>

<script>
    //Owl carousel
  $('.owl-carousel.distillery-carousel').owlCarousel({
    loop:true,
    responsiveClass:true,
    responsive:{
      0:{
          items:1
      },
      600:{
          items:1
      },
    }
  })
</script>