<div class="row py-5 bg-image" style="background-image: url('<%= distillery.summary_image.url %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class = "col-md-10 offset-md-1 text-center justify-content-center">
    <% unless distillery.logo.blank? %>
      <%= image_tag distillery.logo, class: "center-block logo-text img-fluid my-3" %>
    <% end %>
    <h1 class = "py-5 display-4"><span class = "logo-text px-1"><%= distillery.name %></span></h1>
    <h6 class = "pb-5 text-white"><span class = "background-translucent-black px-3 py-2"><%= distillery.location %></span></h6>
    <p class = "pb-5 text-white"><span class = "background-translucent-black px-3 py-2"><%= distillery.summary_text %></span></p>
  </div>
</div>

<div class = "container">
  <% if include_people %>
    <div class = "row my-2">
      <div class = "col-md-6 background-white">
        <div class = "text-center">
          <h1 class = "mt-2 underline-secondary">The people</h1>
        </div>
        <p class = "article-text"><%= simple_format(distillery.people_text) %></p>
      </div>
      <div class = "col-md-6">
        <%= image_tag distillery.people_image, class: "d-block img-fluid distillery-image mt-auto align-self-center" %>
      </div>
    </div>
  <% end %>

  <% if include_range %>
    <div class = "row my-2">
      <div class = "col-md-6 border-primary">
        <%= image_tag distillery.range_image, class: "d-block img-fluid distillery-image align-self-center" %>
      </div>
      <div class = "col-md-6 background-white">
        <div class = "text-center">
          <h1 class = "mt-2 underline-primary">The products</h1>
        </div>
        <p class = "article-text"><%= simple_format(distillery.range_text) %></p>
      </div>
    </div>
  <% end %>

  <% if distillery.youtube_video_url.present? %>
    <div class = "container" id = "video">
      <div class = "row">
        <div class = "col-12 text-center">
          <div class = "embed-responsive embed-responsive-16by9">
            <%= raw(youtube_embed(@distillery.youtube_video_url)) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if include_button %>
    <div class = "row">
      <%= link_to "More about #{distillery.name}", distillery_path(distillery), class: "my-2 btn btn-secondary col-10 offset-1 col-md-6 offset-md-3" %>
    </div>
  <% end %>
</div>
