<div class = "col-6 col-md-4 col-lg-3 my-2">
  <%= link_to distillery_path(distillery) do %>
    <div class="card h-100">
      <div class = "card-img-top">
        <%= image_tag distillery.summary_image, class: "img-fluid" %>
      </div>
      <div class="card-block">
        <h4 class="card-title"><%= distillery.name %></h4>
        <p class="card-text"><%= distillery.summary_text[0..100] %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><em><%= distillery.products.length %> products</em> from <%= distillery.location %></li>
      </ul>
    </div>
  <% end %>
</div>
