<div class = "<%= 'my-2 col-6 col-md-' + md_upwards_col ||= 4.to_s %>">
  <%= link_to distillery_path(distillery) do %>
    <div class="card h-100">
      <div class = "card-img-top">
        <% if distillery.summary_image.square.file.present? %>
          <%= image_tag distillery.summary_image_url(:square), class: "img-fluid", lazy: true %>
        <% else %>
          <%= image_tag distillery.summary_image, class: "img-fluid", lazy: true %>
        <% end %>
      </div>
      <div class="card-block">
        <h4 class="card-title"><%= distillery.name %></h4>
        <p class="card-text"><%= truncate_html(distillery.summary_text, length: 100) %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted text-left"><%= pluralize(distillery.products.live.length, 'product') %> from <%= distillery.location %></li>
      </ul>
    </div>
  <% end %>
</div>
