<div class = "container-fluid mt-3" id = "map">
  <h2 class = "my-3"><%= title 'Our partner distilleries' %></h2>
  <div class = "row">
    <div class = "col-12">
      <div id="distillery-map"></div>
    </div>
  </div>
</div>

<div class = "container-fluid">
  <div class = "row background-grey">
    <div class = "col-md-10 offset-md-1">
      <h4>Newest distilleries</h4>
      <div class = "row">
        <%= render partial: "distilleries/lister_distillery", collection: @page_distilleries, as: :distillery %>
      </div>
      <div class = "row">
        <div class = "col-12 text-center">
          <%= will_paginate @page_distilleries, :page_links => false %>
        </div>
      </div>
    </div>
  </div>
</div> 

<script>

  function initMap() {
    
      var centralPoint = {lat: 54.1962717, lng: -4.4044171};

      var map = new google.maps.Map(document.getElementById('distillery-map'), {
        zoom: 5.8,
        center: centralPoint
      });

      <% @all_distilleries.each_with_index do |distillery, counter| %>
        var distilleryLatLong = {lat: <%= distillery.latitude %>, lng: <%= distillery.longitude %>};
        var <%= 'marker' + counter.to_s %> = new google.maps.Marker({
          position: distilleryLatLong,
          map: map,
          title: '<%= j distillery.name.html_safe %>'
        });

        windowContent = "<h5><%= j distillery.name.html_safe %></h5><div class=''><%= escape_javascript pluralize(distillery.products.live.length, 'product') %></div><%= escape_javascript link_to 'More about ' + distillery.name.html_safe, distillery_path(distillery), class: 'btn btn-primary my-2' %>";

        
        <%= 'window' + counter.to_s %> = new google.maps.InfoWindow({
          content: windowContent
        });
        <%= 'marker' + counter.to_s %>.addListener('click', function() {
          <%= 'window' + counter.to_s %>.open(map, <%= 'marker' + counter.to_s %>);
        });

      <% end %>
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOgMzuZzpcbkMy3Y1sZYOrW4kZ0lDoKxc&callback=initMap">
</script>