<% if user_signed_in? && current_user.admin %>
  <div class = "container py-2">
    <div class = "row">
      <div class = "col-md-6 offset-md-3">
        <h6>Admin functions</h6>
        <h1><%= title @distillery.name %></h1> <!-- Otherwise title found in partial -->
        <div class = "row">
          <div class = "col-6">
            <%= link_to "Edit", edit_admin_distillery_path(@distillery), class: "btn btn-secondary col-10 offset-1" %>
          </div>
          <div class = "col-6">
            <%= link_to "Delete", admin_distillery_path(@distillery), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-10 offset-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class = "container-fluid">
  <%= render partial: "distillery_grid", locals: {distillery: @distillery, include_people: true, include_range: true, include_button: false} %>
</div>

<!-- Secondary nav -->
<hr class = "booyah-line"/>
<div class="nav-wrapper" style="height:50px;">
  <nav class = "secondary-nav background-white mb-0 pb-0" id = "secondary-nav" style = "height:50px;">
    <div class = "container-fluid">
      <div class = "row">
        <ul class="nav nav-pills nav-fill col-md-8 offset-md-2">
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#blurb"><h6>The story</h6></a>
          </li>
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#products"><h6>Products</h6></a>
          </li>
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#social"><h6>Social</h6></a>
          </li>
          <% if @distillery.longitude.present? && @distillery.latitude.present? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#map"><h6>Map</h6></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class = "row">
        <div class = "col-12">
          <hr class = "booyah-line">
        </div>
      </div>
    </div>
  </nav>
</div>

<div class = "secondary-nav-content">
  <div class = ""> <!-- For background colour -->
    <div class = "container" id = "blurb">
      <div class = "row">
        <div class = "col-md-6 offset-md-3">
          <div class = "row">
            <div class = "col-12">
              <p class = "article-text">
                <%= simple_format(@distillery.blurb_1) %>
              </p>
            </div>
          </div>
          <div class = "row">
            <div class = "col-12">
              <%= image_tag @distillery.image_1_url(:full).to_s, class: "d-block img-fluid" %>
            </div>
          </div>
          <div class = "row">
            <div class = "col-12">
              <% if @distillery.blurb_2.present? %>
                <p class = "article-text">
                  <%= simple_format(@distillery.blurb_2) %>
                </p>
              <% end %>
            </div>
          </div>
          <div class = "row">
            <div class = "col-12">
              <% if @distillery.image_2.present? %>
                <%= image_tag @distillery.image_2_url(:full).to_s, class: "d-block img-fluid" %>
              <% end %>
            </div>
          </div>
          <div class = "row">
            <div class = "col-12">
              <% if @distillery.blurb_3.present? %>
                <p class = "article-text">
                  <%= simple_format(@distillery.blurb_3) %>
                </p>
              <% end %>
            </div>
            <div class = "row">
              <div class = "col-12">
                <% if @distillery.image_3.present? %>
                  <%= image_tag @distillery.image_3_url(:full).to_s, class: "d-block img-fluid" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = "container mt-3" id = "products">
    <h3><%= "#{@distillery.name}'s products" %></h3>
    <div class = "row">
      <% if @distillery.products.live.length == 0 %>
        <div class = "col-12">
          <p><%= @distillery.name %> doesn't have any products to sell yet, but are hard at work getting their first one ready!</p>
        </div>
      <% else %>
        <%= render partial: 'products/lister_item', collection: @distillery.products.live, as: :product %>
      <% end %>
    </div>
  </div>

  <div class = "container mt-3" id = "social">
    <h3>Get social</h3>
    <div class = "row">
      <div class = "col-md-8 offset-md-2">
        <div class = "row">
          <div class = "col-6">
            <%= link_to @distillery.website, :target => "_blank" do %>
              <i class="fa fa-globe" aria-hidden="true"></i>Visit the website
            <% end %>
          </div>
          <% if @distillery.facebook.present? %>
            <div class = "col-6">
              <%= link_to @distillery.facebook, :target => "_blank" do %>
                <i class="fa fa-facebook-official" aria-hidden="true"></i>Visit facebook
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% unless @instas.blank? %>
      <div class = "row">
        <div class = "col-12">
          <h3>Instagram</h3>
        </div>
        <%= render partial: "static_pages/instagram_tile", collection: @instas.data, as: :insta %>
      </div>
    <% end%>
  </div>

  <% if @distillery.latitude.present? && @distillery.longitude.present? %>
    <div class = "container mt-3" id = "map">
      <h3 class = "my-3">Map</h3>
      <div class = "row">
        <div class = "col-12">
          <div id="distillery-map"></div>
        </div>
      </div>
    </div>
  <% end %>
</div> <!-- End of secondary nav content -->


<% if @distillery.latitude.present? && @distillery.longitude.present? %>
  <script>

    function initMap() {
      var myLatLng = {lat: <%= @distillery.latitude %>, lng: <%= @distillery.longitude %>};

      var map = new google.maps.Map(document.getElementById('distillery-map'), {
        zoom: 6,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        animation:google.maps.Animation.BOUNCE,
        title: '<%= @distillery.name %>'
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOgMzuZzpcbkMy3Y1sZYOrW4kZ0lDoKxc&callback=initMap">
  </script>
<% end %>
