<% if user_signed_in? && current_user.admin %>
  <div class = "container py-2">
    <div class = "row">
      <div class = "col-md-6 offset-md-3">
        <h6>Admin functions</h6>
        <h1><%= title @distillery.name %></h1> <!-- Otherwise title found in partial -->
        <div class = "row">
          <div class = "col-6">
            <%= link_to "Edit", edit_admin_distillery_path(@distillery), class: "btn btn-secondary col-10 offset-1" %>
          </div>
          <div class = "col-6">
            <%= link_to "Delete", admin_distillery_path(@distillery), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-10 offset-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class = "background-lightgrey pt-3">
  <div class = "container">
    <div class = "row pb-3 px-3">
      <div class = "col-12 col-md-6 my-2 px-0 pr-md-2">
          <%= image_tag @distillery.summary_image_url(:square), class: "img-fluid" %>
      </div>

      <div class = "col-12 col-md-6 lyst-box my-2 pl-md-2">
        <div class = "px-3">
          <div class = "row">
            <div class = "col-2">
              <%= image_tag @distillery.logo, class:"img-fluid" %>
            </div>
            <div class = "col-10">
              <h2 class = "my-0"><%= title @distillery.name %></h2>
              <h6 class = "text-muted">from <%= @distillery.location %></h6>
            </div>
          </div>
        </div>
        <div class = "py-1">
          <div class = "indent-dot left background-lightgrey"></div><div class = "indent-dot right  background-lightgrey"></div><hr class = "lyst-line-lightgrey my-2"/>
        </div>
        <div class = "px-3">
          <h6>📖 About</h6>
          <p class = "article-text"><%= @distillery.summary_text %></p>
          <% unless @products.blank? %>
            <div class = "col article-text no-link-highlight px-0 my-2">
              <a class="no-click" href="#products">
                <%= pluralize(@products.size, 'product') %>
              </a>
              <% if @recipes.size > 0 %>
                <a class="no-click" href="#recipes">
                  and <%= pluralize(@recipes.size, 'recipe') %>
                </a> 
              <% end %>
            </div>
          <% end %>
          <div class = "row">
          <% if @distillery.instagram_url.present? %>
            <%= link_to @distillery.instagram_url, class: "btn btn-success col mx-2 text-center" do %>
              <i class="fa fa-instagram text-white" aria-hidden="true"></i> Follow on Instagram
            <% end %>
          <% end %>
          <% if @distillery.website.present? %>
            <%= link_to @distillery.website, class: "btn btn-success col mx-2 text-center" do %>
              <i class="fa fa-globe text-white" aria-hidden="true"></i> Visit website
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "background-grey py-3">
  <div class = "container">
    <div class = "row px-3">
      <div class = "col-12">
        <h4>More about <%= @distillery.name %></h4>
      </div>
      <div class = "col-12 lyst-box">
        <div class = "px-3 text-center" id = "the-distillers-banner">  
          <h5 class = "my-0">The distillers <i class="fa fa-minus text-primary" id = "the-distillers-toggle-switch" aria-hidden="true"></i></h5>
        </div>
        <div id = "the-distillers-box">
          <div class = "px-3">
            <div class = "row">
              <div class = "col-md-6">
                <%= simple_format(@distillery.people_text) %>
              </div>
              <div class = "col-md-6 py-2">
                <%= image_tag @distillery.people_image, class: "d-block img-fluid distillery-image mt-auto align-self-center" %>
              </div>
            </div>
          </div>
        </div>
        <div class = "pt-1">
          <div class = "indent-dot left background-grey"></div><div class = "indent-dot right  background-grey"></div><hr class = "lyst-line-grey my-2"/>
        </div>
        <div class = "px-3 text-center" id = "further-information-banner">  
          <h5 class = "my-0">Further information <i class="fa fa-chevron-down text-primary" id = "further-information-toggle-switch" aria-hidden="true"></i></h5>
        </div>
        <div id = "further-information-box" class = "hidden">
          <div class = "px-3">
            <div class = "row">
              <div class = "col-12">
                <%= simple_format(@distillery.blurb_1) %>
                <% if @distillery.blurb_2.present? %>
                  <%= simple_format(@distillery.blurb_2) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "background-lightgrey pb-3">
  <div class = "container pt-3" id = "products">
    <div class = "row">
      <div class = "col-12">
        <h4>Products from <%= @distillery.name %></h4>
      </div>
      <% if @products.live.length > 0 %>
        <%= render partial: 'products/lister_item', collection: @products, as: :product, locals: { include_add_to_basket: true } %>
      <% else %>
        <div class = "col-12">
          <p><%= @distillery.name %> doesn't have any products to sell yet, but are hard at work getting their first one ready!</p>
        </div>
      <% end %>
    </div>
  </div>

  <% if @recipes.length > 0 %>
    <div class = "container pt-3" id = "recipes">
      <div class = "row">
        <div class = "col-12">
          <h4 class = "mb-2">Recipes by <%= @distillery.name %></h4>
        </div>
        <%= render partial: 'recipes/lister_recipe', collection: @recipes, as: :recipe %>
      </div>
    </div>
  <% end %>

  <% if @distillery.latitude.present? && @distillery.longitude.present? %>
    <div class = "container mt-3" id = "map">
      <h4 class = "my-3">Browse other distilleries</h4>
      <div class = "row">
        <div class = "col-12">
          <div id="distillery-map"></div>
        </div>
      </div>
    </div>
  <% end %>
</div> <!-- End of secondary nav content -->


<% if @distillery.latitude.present? && @distillery.longitude.present? %>
  <script>

    function initMap() {
      
        var centralPoint = {lat: 54.1962717, lng: -4.4044171};

        var map = new google.maps.Map(document.getElementById('distillery-map'), {
          zoom: 5.8,
          center: centralPoint
        });

        <% @all_other_distilleries.each_with_index do |distillery, counter| %>
          var distilleryLatLong = {lat: <%= distillery.latitude %>, lng: <%= distillery.longitude %>};
          var <%= 'marker' + counter.to_s %> = new google.maps.Marker({
            position: distilleryLatLong,
            map: map,
            title: '<%= j distillery.name.html_safe %>'
          });

          windowContent = "<h5><%= j distillery.name.html_safe %></h5><div class=''><%= escape_javascript pluralize(@products.length, 'product') %></div><%= escape_javascript link_to 'More about ' + distillery.name.html_safe, distillery_path(distillery), class: 'btn btn-primary my-2' %>";

          
          <%= 'window' + counter.to_s %> = new google.maps.InfoWindow({
            content: windowContent
          });
          <%= 'marker' + counter.to_s %>.addListener('click', function() {
            <%= 'window' + counter.to_s %>.open(map, <%= 'marker' + counter.to_s %>);
          });

        <% end %>

        var marker = new google.maps.Marker({
          position: {lat: <%= @distillery.latitude %>, lng: <%= @distillery.longitude %>},
          map: map,
          animation:google.maps.Animation.BOUNCE,
          title: '<%= @distillery.name.to_json %>'
        });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOgMzuZzpcbkMy3Y1sZYOrW4kZ0lDoKxc&callback=initMap">
  </script>
<% end %>

<script>
  $(function() { 
    $("#the-distillers-banner").click(function() {
      $("#the-distillers-box").toggleClass("hidden");
      $("#the-distillers-toggle-switch").toggleClass("fa-minus");
      $("#the-distillers-toggle-switch").toggleClass("fa-chevron-down");
    });
  });

  $(function() { 
    $("#further-information-banner").click(function() {
      $("#further-information-box").toggleClass("hidden");
      $("#further-information-toggle-switch").toggleClass("fa-minus");
      $("#further-information-toggle-switch").toggleClass("fa-chevron-down");
    });
  });
</script>

<script>
  // Scroll to anchor link
  $(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top - 75
          }, 1000);
          return false;
        }
      }
    });
  });
</script>
