<div class = "container-fluid">
  <div class="row py-5 category-background" style="background:transparent url('<%= @category.banner_image.url %>') no-repeat center center /cover">
    <div class = "text-center">
      <div class = "background-translucent-black py-2 px-2">
        <h1 class = "text-white"><%= @category.name %></h1>
      </div>
    </div>
    <div class = "clear"></div>
  </div>
</div>

<!-- Secondary nav -->
<% unless @recipes.blank? && @articles.blank? %>
  <nav class = "secondary-nav" id = "secondary-nav">
    <div class = "container-fluid background-grey">
      <div class = "row background-grey">
        <ul class="nav nav-pills nav-fill col-md-8 offset-md-2">
          <% unless @products.blank? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#products"><h6>Products</h6></a>
            </li>
          <% end %>
          <% unless @recipes.blank? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#recipes"><h6>Recipes</h6></a>
            </li>
          <% end %>
          <% unless @articles.blank? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#articles"><h6>Articles</h6></a>
            </li>
          <% end %>
          <% unless @instas.blank? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#social"><h6>Social</h6></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class = "row">
        <div class = "col-12">
          <hr class = "booyah-line">
        </div>
      </div>
    </div>
  </nav>
<% end %>

<% unless @products.blank? %>
  <div class = "background-grey">
    <div class = "container">
      <div class = "row" id = "products">
        <div class = "col-md-10 offset-md-1">
          <h3>Products</h3>
          <div class = "row">
            <%= render partial: 'products/lister_item', collection: @category.products, as: :product %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless @recipes.blank? %>
  <div class = "">
    <div class = "container">
      <div class = "row" id = "recipes">
        <div class = "col-md-10 offset-md-1">
          <h3>Recipes</h3>
          <div class = "row">
            <%= render partial: 'recipes/lister_recipe', collection: @recipes, as: :recipe %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless @articles.blank? %>
  <div class = "background-grey">
    <div class = "container">
      <div class = "row" id = "recipes">
        <div class = "col-md-10 offset-md-1">
          <h3>Articles</h3>
          <div class = "row">
            <%= render partial: 'articles/lister_article', collection: @articles, as: :article %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @instas.present? %>
  <h3>Recent instagrams</h3>
  <div class = "row owl-carousel insta-carousel" id = "social">
    <%= render partial: "static_pages/instagram_tile", collection: @instas.data, as: :insta %>
  </div>
<% end %>


<script>
// Scrolling to appropriate area on page
// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
</script>

<script>
  //Sticky secondary nav
  $(document).ready(function() {
    // grab the initial top offset of the navigation 
    var stickyNavTop = $('.secondary-nav').offset().top;
      
      // our function that decides weather the navigation bar should have "fixed" css position or not.
      var stickyNav = function(){
        var scrollTop = $(window).scrollTop(); // our current vertical position from the top
             
        // if we've scrolled more than the navigation, change its position to fixed to stick to top,
        // otherwise change it back to relative
        if (scrollTop > stickyNavTop) { 
            $('.secondary-nav').addClass('sticky');
        } else {
            $('.secondary-nav').removeClass('sticky'); 
        }
    };

    stickyNav();
    // and run it again every time you scroll
    $(window).scroll(function() {
      stickyNav();
    });
  });
</script>

<script>
  //Owl carousel
  $('.owl-carousel.insta-carousel').owlCarousel({
    loop:true,
    responsiveClass:true,
    responsive:{
      0:{
          items:3,
          nav:true
      },
      900:{
          items:7,
          nav:true
      },
    }
  })
</script>
