<% if user_signed_in? && current_user.admin %>
  <div class = "container py-2">
    <div class = "row">
      <div class = "col-md-6 offset-md-3">
        <h6>Admin functions</h6>
        <div class = "row">
          <div class = "col-6">
            <%= link_to "Edit", edit_admin_category_path(@category), class: "btn btn-secondary col-10 offset-1" %>
          </div>
          <div class = "col-6">
            <%= link_to "Delete", admin_category_path(@category), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-10 offset-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class = "container-fluid">
  <div class = "owl-carousel owl-theme category-carousel">
    <%= render partial: "products/carousel_product", collection: @featured_products, as: :product %>
    <%= render partial: "recipes/carousel_recipe", collection: @featured_recipes, as: :recipe %>
    <%= render partial: "articles/carousel_article", collection: @featured_articles, as: :article %>
  </div>
</div>

<!-- Secondary nav -->
<div class="nav-wrapper" style="height:50px;">
  <nav class = "secondary-nav background-white mb-0 pb-0" id = "secondary-nav" style = "height:50px;">
    <div class = "container-fluid">
      <div class = "row">
        <ul class="nav nav-pills nav-fill col-md-8 offset-md-2">
          <% unless @products.blank? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#products"><h6>Products</h6></a>
            </li>
          <% end %>
          <% unless @recipes.blank? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#recipes"><h6>Recipes</h6></a>
            </li>
          <% end %>
          <% unless @articles.blank? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#articles"><h6>Articles</h6></a>
            </li>
          <% end %>
          <% unless @instas.blank? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#social"><h6>Social</h6></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class = "row">
        <div class = "col-12">
          <hr class = "booyah-line">
        </div>
      </div>
    </div>
  </nav>
</div>

<% unless @products.blank? %>
  <div class = "background-grey">
    <div class = "container py-2">
      <div class = "row" id = "products">
        <div class = "col-md-10 offset-md-1">
          <h3>Products</h3>
          <div class = "row">
            <%= render partial: 'products/lister_item', collection: @category.products, as: :product %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless @recipes.blank? %>
  <div class = "">
    <div class = "container py-2">
      <div class = "row" id = "recipes">
        <div class = "col-md-10 offset-md-1">
          <h3>Recipes</h3>
          <div class = "row">
            <%= render partial: 'recipes/lister_recipe', collection: @recipes, as: :recipe %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless @articles.blank? %>
  <div class = "background-grey">
    <div class = "container py-2">
      <div class = "row" id = "articles">
        <div class = "col-md-10 offset-md-1">
          <h3>Articles</h3>
          <div class = "row">
            <%= render partial: 'articles/lister_article', collection: @articles, as: :article %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless @instas.blank? %>
  <div class = "background-grey">
    <div class = "container py-2">
      <div class = "row" id = "social">
        <div class = "col-md-10 offset-md-1">
          <h3>Recent instagrams</h3>
          <h6 class = "text-muted"><%= link_to "##{@category.instagram_hashtag}", "http://instagram.com/tags/#{@category.instagram_hashtag}", :target => "_blank" %></h6>
          <div class = "row">
            <%= render partial: "static_pages/instagram_tile", collection: @instas.data, as: :insta %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $('.owl-carousel.category-carousel').owlCarousel({
    stagePadding: 0,
    loop:true,
    dots: true,
    items: 1,
    nav: true,
    navText : ['<i class="fa fa-4x fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-4x fa-angle-right" aria-hidden="true"></i>']
  });
</script>
