<div class = "mb-2">
  <div class = "container">
    <div class = "row"> 
      <!-- Links -->
      <div class = "col-12">
        <div class = "row">
          <%= link_to "Reporting", admin_reports_path, class: "btn btn-secondary col-12 col-md-4 my-2" %>
          <%= link_to "New stuff", admin_control_panel_path, class: "btn btn-secondary col-12 col-md-4 my-2" %>
          <%= link_to "Product feed", admin_product_feed_google_path, class: "btn btn-secondary col-12 col-md-4 my-2" %>
        </div>
      </div>
      <div class = "col-12">
        <p>Change distillery to view distiller dashboard</p>
        <%= simple_form_for current_user, url: admin_change_distillery_path do |f| %>
          <%= f.input :distillery_id, collection: @transactional_distilleries, value_method: :id, label_method: :name %>
          <%= f.submit "View as this distillery", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Key stats on shipping -->
  <div class = "container">
    <div class = "row">
      <div class = "col-12">
        <h3>Order tracker</h3>
      </div>
      <div class = "col-4">
        <div class = "lyst-box px-2 py-2 mx-1 my-1">
          <h6>Sales (30 days)</h6>
          <p><%= @last_30_days_sales.sum(&:item_price) %></p>
        </div>
      </div>
      <div class = "col-4">
        <div class = "lyst-box px-2 py-2 mx-1 my-1">
          <h6>Unshipped batches</h6>
          <p><%= @unshipped_batches.length %></p>
        </div>
      </div>
      <div class = "col-4">
        <div class = "lyst-box px-2 py-2 mx-1 my-1">
          <h6>Unbatched items</h6>
          <p><%= @unbatched_sold_items_with_postage_label.length %></p>
        </div>
      </div>
    </div>
  </div>

  <div class = "container">
    <div class = "row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Postage</th>
            <th scope="col">Shipped?</th>
          </tr>
        </thead>
        <tbody>
          <% @most_recent_sold_items.each do |si| %>
            <tr>
              <th scope="row"><%= si.product.name %></th>
              <td><%= si.quantity %></td>
              <td><%= si.manual_shipping == true ? "Manual shipping" : "Auto shipping" %></td>
              <td><%= si.shipped == true ? "Shipped" : "Not shipped" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class = "container">
  <!-- Display recent feedbacks -->
    <% if @feedbacks.length > 0 %>
      <div class = "row">
        <div class = "col-12">
          <h5>Recent feedback</h5>
        </div>
        <% @feedbacks.each do |feedback| %>
          <div class = "col-md-6">
            <div class = "lyst-box px-2 py-2 mx-1 my-1">
              <p class = "mb-0">"<%= feedback.description %>"</p>
              <% if feedback.url.present? %>
                <p class = "mb-0"><%= feedback.url %></p>
              <% end %>
              <% if feedback.user.present? %>
                <p class = "mb-0"><%= feedback.user.email %></p>
              <% end %>
              <% if feedback.email.present? %>
                <p class = "mb-0"><%= feedback.email %></p>
              <% end %>
              <%= simple_form_for feedback, url: admin_feedback_url(feedback) do |f| %>
                <%= f.input :done, as: :hidden, :input_html => { :value => true } %>
                <%= f.submit "Mark as done", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Current price</th>
            <th scope="col">Shipping</th>
            <th scope="col">Distillery take</th>
            <th scope="col">Gross profit</th>
            <th scope="col">Postage</th>
            <th scope="col">Payment</th>
            <th scope="col">Net profit</th>
          </tr>
        </thead>
        <tbody>
          <% @transactional_products.each do |product| %>
            <tr>
              <th scope="row"><%= product.name %></th>
              <td><%= product.human_readable_price %></td>
              <td><%= number_to_currency(@default_shipping_price.to_f / 100, unit: "£") %></td>
              <td><%= number_to_currency(product.distillery_take.to_f / 100, unit: "£") %></td>
              <td><%= number_to_currency(product.gross_profit(@default_shipping_price).to_f / 100, unit: "£") %></td>
              <td>£2.90</td>
              <td><%= number_to_currency(product.payment_cost(@default_shipping_price).to_f / 100, unit: "£") %></td>
              <td><%= number_to_currency(product.net_profit(@default_shipping_price, 290).to_f / 100, unit: "£") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h4>Distilleries who have linked Stripe (<%= @transactional_distilleries.length %>)</h4>
      <ul>
        <% @transactional_distilleries.each do |distillery| %>
          <li><%= link_to distillery.name, distillery_path(distillery) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class = "row">
    <!-- Graphs -->
    <div class = "col-12">
      <h4 class = "mt-4">Sales</h4>
      <h6>Volume (last 30 days)</h6>
      <%= line_chart @last_30_days_sales.group_by_day(:created_at).count %>
    </div>
  </div>
</div>
