<div class = "background-lightgrey mb-2">
  <div class = "container">
    <div class = "row"> 
      <!-- Links -->
      <div class = "col-12">
        <div class = "row">
          <%= link_to "Go to reporting dashboard", admin_reports_path, class: "btn btn-secondary col-12 col-md-4 my-2" %>
          <%= link_to "Go to control panel", admin_control_panel_path, class: "btn btn-secondary col-12 col-md-4 my-2" %>
          <%= link_to "Go to product feed", admin_product_feed_google_path, class: "btn btn-secondary col-12 col-md-4 my-2" %>
        </div>
      </div>
    </div>
  </div>


  <div class = "container">
  <!-- Display recent feedbacks -->
    <% if @feedbacks.length > 0 %>
      <div class = "row">
        <div class = "col-12">
          <h5>Recent feedback</h5>
        </div>
        <% @feedbacks.each do |feedback| %>
          <div class = "col-md-6">
            <div class = "lyst-box px-2 py-2 mx-1 my-1">
              <p class = "mb-0">"<%= feedback.description %>"</p>
              <% if feedback.url.present? %>
                <p class = "mb-0"><%= feedback.url %></p>
              <% end %>
              <% if feedback.user.present? %>
                <p class = "mb-0"><%= feedback.user.email %></p>
              <% end %>
              <% if feedback.email.present? %>
                <p class = "mb-0"><%= feedback.email %></p>
              <% end %>
              <%= simple_form_for feedback, url: admin_feedback_url(feedback) do |f| %>
                <%= f.input :done, as: :hidden, :input_html => { :value => true } %>
                <%= f.submit "Mark as done", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <!-- Outstanding orders -->
    <div class = "col-12">
      <h4>Batches, ready to be shipped</h4>
      <% if @unshipped_batches.length > 0 %>
        <!-- List out all incomplete orders and allow to mark as complete -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Distillery</th>
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col">Reminder to</th>
            </tr>
          </thead>
          <tbody>
            <% @unshipped_batches.each do |batch| %>
              <tr>
                <th scope="row"><%= batch.created_at.strftime('%B %d, %Y at %H:%M') %></th>
                <td><%= batch.distillery.name %></td>
                <td><%= batch.description %></td>
                <td><%= batch.state %></td>
                <td><%= mail_to batch.distillery.users.first.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No batches awaiting shipping</p>
      <% end %>
    </div>
    <div class = "col-12">
      <h4>Sold items, ready to be batched</h4>
      <% if @unbatched_sold_items_with_postage_label.length > 0 %>
        <!-- List out all incomplete orders and allow to mark as complete -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Distillery</th>
              <th scope="col">Description</th>
              <th scope="col">Reminder to</th>
            </tr>
          </thead>
          <tbody>
            <% @unbatched_sold_items_with_postage_label.each do |usi| %>
              <tr>
                <th scope="row"><%= usi.created_at.strftime('%B %d, %Y at %H:%M') %></th>
                <td><%= usi.order_item.product.distillery.name %></td>
                <td><%= usi.description %></td>
                <td><%= mail_to usi.order_item.product.distillery.users.first.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No items awaiting batches</p>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-12">
      <h4>Distilleries who have linked Stripe</h4>
      <ul>
        <% @transactional_distilleries.each do |distillery| %>
          <li><%= link_to distillery.name, distillery_path(distillery) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class = "row">
    <!-- Graphs -->
    <div class = "col-12">
      <h4 class = "mt-4">Sales</h4>
      <h6>Volume (last 30 days)</h6>
      <%= line_chart @last_30_days_sales.group_by_day(:created_at).count %>
      <h6 class = "mt-2">Value (last 30 days)</h6>
      <%= line_chart @last_30_days_sales.group_by_day(:created_at).sum(:item_price).map{|arr| arr.map { |item| item.to_f / 100 if item.is_a? Numeric } } %>
    </div>
  </div>
</div>
