<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <p>Unfortunately, the link with google shopping is manual, as Google don't have their scraping product in the UK</p>
      <p>So, copy the table below and paste it into the google doc, here: https://docs.google.com/spreadsheets/d/19RYB77y1wj1dzrMa1vaJw6ufPl4joMQccvAdoQoz5sw/edit#gid=155405297</p>
      <%= link_to "Go to facebook feed", admin_product_feed_facebook_path, class: "btn btn-secondary" %>
    </div>
    <div class = "col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
            <th scope="col">link</th>
            <th scope="col">price</th>
            <th scope="col">availability</th>
            <th scope="col">image link</th>
            <th scope="col">google_product_category</th>
            <th scope="col">shipping(country:region:price)</th>
            <th scope="col">brand</th>
            <th scope="col">gtin</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <th scope="row"><%= product.id %></th>
              <td><%= "#{product.name.titleize} from #{product.distillery.location} - #{product.size_ml/10}cl" %></td>
              <td><%= simple_format product.description_short %></td>
              <td><%= product_url(product) %></td>
              <td><%= number_to_currency(product.price.to_f / 100, unit: "£") %></td>
              <td><%= product.is_in_stock ? "in stock" : "out of stock" %></td>
              <td><%= product.product_images.rank(:row_order).first.photo_url %></td>
              <td>499676</td>
              <td>GB::2.00 GBP</td>
              <td><%= product.distillery.name %></td>
              <td><%= product.GTIN.present? ? product.GTIN : "" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
