<div class = "<%= 'col-12 atb-area-product-' + product.id.to_s %>">
  <%= simple_form_for order_item, wrapper: :inline_form, html: { class: 'form-inline col-12 mx-0 px-0' }, remote: remote, method: :post do |f| %>
    <%= f.input :quantity, :as => :hidden, :input_html => { :value => 1 } %>
    <%= f.input :product_id, :as => :hidden, :input_html => { :value => product.id } %>
    <%= f.submit "Add to basket", class: "#{large_button ? 'btn-lg' : 'btn'} mx-0 px-0 btn-wrap-text btn-success atb-button col", data: { disable_with: 'Adding...'} %>
  <% end %>

  <% if include_go_to_checkout %>
    <% if @order.order_items.any? {|oi| oi.product_id == product.id } %>
      <span class = "text-center">
        <p class = "text-muted my-1"><%= @order.order_items.where(product_id: product.id).first.quantity %> of these in your cart </p>
      </span>
      <div class = "col-12">
        <div class = "row">
          <%= link_to "Go to checkout", cart_path, class: "mx-0 px-0 btn-wrap-text text-primary text-center checkout-button btn-lg btn-secondary col-12" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
