<!-- Note: for additional classes, they must be preceded by a space e.g. ' hidden-sm-down' -->
<div class = "<%= ['my-3 col-6 col-md-', md_upwards_col ||= 4.to_s, additional_class ||= ''].join('') %>" >
  <div class="card h-100">
    <div class = "card-img-top lister-product-container text-center">
      <% if product.is_transactional %>
        <div class = "hidden lister-product-image-overlay border-below-lightgrey pt-3 pb-1 px-3">
          <%= render partial: 'products/quick_add_button', locals: {order_item: OrderItem.new, product: product, remote: true} %>
        </div>
      <% end %>
      <%= link_to product_path(product) do %>
        <% if product.product_images.present? %>
          <%= image_tag product.product_images.first.photo_url(:full).to_s, class: "img-fluid" %>
        <% else %>
          <%= image_tag "booze_placeholder.jpg", class: "img-fluid" %>
        <% end %>
      <% end %>
    </div>
    <div class="card-block text-left py-2">
      <h6 class="card-title mb-2"><%= link_to product.name.titleize, product_path(product) %></h6>
      <p class = "card-subtitle mb-2 text-muted">from <%= link_to product.distillery.name, distillery_path(product.distillery) %></p>
      <% if product.original_price.present? %>
        <h5 class = "text-strikethrough d-inline-block"><%= product.human_readable_original_price %></h5>
      <% end %>
      <h5 class = "<%= 'd-inline-block text-red' if product.original_price.present? %>"><%= product.human_readable_price %></h5>
    </div>
  </div>
</div>