<div class = "col-6 col-md-4 col-lg-3">
  <%= link_to product_path(product) do %>
    <div class = "booyah-box product-lister-box py-1 px-1">
      <div class = "">
        <div class = "my-1 mx-1">
          <% if product.product_images.present? %>
            <%= image_tag product.product_images.first.photo, class: "img-fluid d-block mx-auto", height: "200" %>
          <% else %>
            <%= image_tag "booze_placeholder.jpg", class: "img-fluid d-block mx-auto", height: "200" %>
          <% end %>
        </div>
      </div>
      <div class = "row py-1">
        <div class = "col-12">
          <hr class = "booyah-line">
        </div>
      </div>
      <div class = "product-text nice-padding">
        <h4><%= product.name %></h4>
        <p><em>"<%= product.description_short %>"</em></p>
        <%= render partial: "products/star_rating", locals: {product: product} %>
        <div class = "btn btn-secondary col-12">See more</div>
      </div>
    </div>
  <% end %>
</div>