<% if user_signed_in? && current_user.admin %>
  <div class = "container py-2">
    <div class = "row">
      <div class = "col-md-6 offset-md-3">
        <h6>Admin functions</h6>
        <div class = "row">
          <div class = "col-6">
            <%= link_to "Edit", edit_admin_product_path(@product), class: "btn btn-secondary col-10 offset-1" %>
          </div>
          <div class = "col-6">
            <%= link_to "Delete", admin_product_path(@product), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-10 offset-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Leave a review -->
<% if user_signed_in? && (current_user.ordered_products.include?@product) && !current_user.reviews.where(product: @product).present? %>
  <div class = "background-lightgrey">
    <div class = "container">
      <div class = "row justify-content-center mt-2">
          <div class = "col-auto my-2 pl-2 pl-md-3 text-center lyst-box display-v-middle">
            <p class = "d-inline-block my-0">How was <%= @product.name %>?</p>
            <button type="button" class="btn btn-primary d-inline-block mx-4" data-toggle="modal" data-target="#newReviewModal">
              Leave a review
            </button>
          </div>
      </div>
    </div>
  </div>
<% end %>

<div class = "atb-navbar hidden background-white">
  <div class = "container">
    <div class = "row">
      <div class = "col-2 display-v-middle">
        <%= image_tag @product_images.first.photo_url(:preview).to_s, class: "product-atb-navbar-image rounded" %> 
      </div>
      <div class = "col-6 col-md-8">
        <h6 class = "mt-2"><%= @product.name %> - <%= @product.human_readable_price %></h6>
        <!-- Need sale price -->
        <p>by <%= @product.distillery.name %></p>
      </div>
      <div class = "col-4 col-md-2 display-v-middle text-center pr-3 pl-0">
        <% if @product.is_transactional %>
          <%= render partial: 'quick_add_button', locals: {order_item: @order_item, product: @product, remote: true} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class = "background-lightgrey pt-3">
  <div class = "container">
    <div class = "row pb-3">
      <div class = "col-12 col-md-6">
        <div class = "owl-carousel product-image-carousel">
          <% @product_images.each do |image| %>
            <%= image_tag image.photo_url(:full).to_s, class: "product-image-large rounded" %>
          <% end %>
          <% if @distillery.youtube_video_url.present? %>
            <div class = "container" id = "video">
              <div class = "row">
                <div class = "col-12 text-center">
                  <div class = "embed-responsive embed-responsive-16by9">
                    <%= raw(youtube_embed(@distillery.youtube_video_url)) %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class = "row hidden-md-up">
          <div class = "col-12 text-center">
            <p class = "article-text mb-0 mt-2"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Swipe to see more photos</p>
          </div>
        </div>
      </div>

      <!-- Product descriptions -->
      <div class = "col-12 col-md-6" id = "product-description-box">
        <div class = "lyst-box px-4 pt-2 pt-md-3 mt-3 mt-md-0">
          <h2><%= title "#{@product.name.titleize}, #{@product.size_ml}ml | FREE shipping", @product.name.titleize %></h2>
          <h6 class = "text-secondary">by <%= link_to @product.distillery.name, distillery_path(@product.distillery), class: "text-primary" %></h6>
          <hr class = "lyst-line-grey"/>
          <div class = "stock-spinner">
            <i class="fa fa-circle-o-notch fa-pulse" aria-hidden="true"></i> Checking stock...
          </div>
          <div class = "stock-checker hidden">
            <% if @product.is_transactional %>
              <i class="fa fa-check text-green" aria-hidden="true"></i> <span data-toggle="tooltip" title="Shipped from <%= @distillery.name %>">In stock</span>
            <% else %>
              <i class="fa fa-times text-red" aria-hidden="true"></i> Out of stock
            <% end %>
          </div>
          <% if @product.is_transactional %>
            <div class = "delivery-checker hidden mt-1">
              <i class="fa fa-truck text-green" aria-hidden="true"></i> <span data-toggle="tooltip" title="No minimum order"><strong>Free delivery</strong></span> when bought today
            </div>
          <% end %>

          <!-- Try this instead box fades in if out of stock -->
          <% unless @product.is_in_stock %>
            <div class = "hidden upwards-speech-bubble px-2 py-2 mt-3">
              <div class = "row">
                <div class = "col-12">
                  <h6>Try these instead</h6>
                </div>
                <%= render partial: "products/lister_item", collection: @other_popular_products.first(2), as: :product, locals: { include_add_to_basket: true, md_upwards_col: 6 }  %>
              </div>
            </div>
          <% end %>
          <p class = "article-text mb-1 mt-3">Craftr says:</p>
          <blockquote class="blockquote mt-0">
            <p class="mb-0"><em><%= simple_format(@product.description_short) %></em></p>
            <a href = "#more-info">+ Read more</a>
          </blockquote>
          <div class = "row px-3 favourite-unfavourite py-2">
            <%= render partial: 'favourite_button', locals: {product: @product} %>
          </div>
          <div class = "row">            
            <div class = "col">
              <p class = "article-text text-muted float-left mt-2 mb-0">
                <% if @product.size_ml.present? %>
                  <!-- Allow for products not to have size -->
                  <%= "#{@product.size_ml}ml - #{@product.alcohol_percentage}%" %>
                  <!-- Must still have alcohol percentage -->
                <% else %>
                  <%= "#{@product.alcohol_percentage}%" %>
                <% end %>
              </p>
            </div>
            <div class = "col text-right">
              <h3 class = "<%= 'd-inline-block text-red mt-2 mb-0 float-right' if @product.original_price.present? %>"><%= @product.human_readable_price %></h3>
              <% if @product.original_price.present? %>
                <h3 class = "d-inline-block mt-2 mb-0 float-right"><span class = "text-strikethrough"><%= @product.human_readable_original_price %></span>&nbsp</h3>
              <% end %>
            </div>
          </div>
          </h6>
          <% if @product.is_transactional %> 
            <div class = "row my-3">
              <%= render partial: 'add_to_basket_button', locals: {order_item: @order_item, product: @product, include_go_to_checkout: true, large_button: true, remote: true} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "background-grey py-4" id = "more-info">
  <div class = "container">
    <div class = "row mb-4" id = "insta-follow">
      <div class = "col-8 offset-2 col-md-4 offset-md-4 lyst-box px-3 mt-2">
        <%= link_to "https://www.instagram.com/craftrspirits" do %>
          <div class = "row">
            <div class = "col-auto pl-2 justify-content-center text-center display-v-middle">
              <%= image_tag "Instagram logo.png", class: "img-fluid max-height-100" %>
            </div>
            <div class = "col">
              <p class = "mb-0"><strong>Follow us on Instagram</strong></p>
              <p class = "mb-0 text-muted">21.6k followers</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class = "row px-3">
      <div class = "col-12">
        <h4>More information</h4>
      </div>
      <div class = "col-12 lyst-box">
        <div class = "px-3 text-center" id = "the-story-banner">  
          <h4 class = "my-0">About <%= @product.name %> <i class="fa fa-minus text-primary" id = "the-story-toggle-switch" aria-hidden="true"></i></h4>
        </div>
        <div id = "the-story-box">
          <div class = "px-3">
            <div class = "row">
              <!-- Product -->
              <div class = "col-md-6">
                <%= simple_format(@product.description_first) %>
                <%= simple_format(@product.description_second) %>
              </div>
              <div class = "col-md-6 py-2">
                <%= image_tag @product.product_images.rank(:row_order).second.photo_url(:full), class: "d-block img-fluid mt-auto align-self-center" %>
              </div>
            </div>
            <div class = "row">
              <!-- Distillery -->
              <div class = "col-12 text-center">
                <h4 class = "my-3">The makers: <%= @distillery.name %></h4>
              </div>
              <div class = "col-md-6 pr-md-0">
                <% if @distillery.latitude.present? && @distillery.longitude.present? %>
                  <div id="300px-distillery-map" class = "smaller-distillery-map"></div>
                <% end %>
              </div>
              <div class = "col-md-6 mt-2 mt-md-0">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @distillery.location %></p>
                <% if @other_distillery_products.length > 0 %>
                  <p>
                    <a href = "#distillery-products">
                      <i class="fa fa-tag" aria-hidden="true"></i> <%= pluralize(@other_distillery_products.length, 'other product') %> available
                    </a>
                  </p>
                <% end %>
                <p class="mb-0"><%= simple_format @distillery.summary_text %></p>
                <% if @distillery.summary_text.chars.size < 100 %>
                  <p class="mb-0"><%= simple_format @distillery.people_text %></p>
                <% end %>
                <%= link_to "More about #{@distillery.name}", distillery_path(@product.distillery), class: "btn btn-primary col-12 mt-3" %>
              </div>
            </div>
          </div>
        </div>
        <div class = "pt-1">
          <div class = "indent-dot left background-grey"></div><div class = "indent-dot right  background-grey"></div><hr class = "lyst-line-grey my-2"/>
        </div>
        <div class = "px-3 text-center" id = "taste-profile-banner">  
          <h5 class = "my-0">Taste profile <i class="fa fa-chevron-down text-primary" id = "taste-profile-toggle-switch" aria-hidden="true"></i></h5>
        </div>
        <div id = "taste-profile-box" class = "hidden">
          <div class = "px-3">
            <div class = "row">
              <div class = "col-12">
                <%= render partial: "products/taste_sliders", locals: {product: @product} %>
              </div>
            </div>
          </div>
        </div>
        <% if @recipes.present? %>
          <div class = "pt-1">
            <div class = "indent-dot left background-grey"></div><div class = "indent-dot right  background-grey"></div><hr class = "lyst-line-grey my-2"/>
          </div>
          <div class = "px-3 text-center" id = "recipes-banner">  
            <h5 class = "my-0">Suggested recipes <i class="fa fa-minus text-primary" id = "recipes-toggle-switch" aria-hidden="true"></i></h5>
          </div>
          <div id = "recipes-box">
            <div class = "px-3">
              <div class = "row">
                <%= render partial: "recipes/lister_recipe", collection: @recipes.first(2), as: :recipe %>
                <% if @recipes.length > 2 %>
                  <span class = "hidden" id = "more-recipes-box">
                    <%= render partial: "recipes/lister_recipe", collection: @recipes.drop(2), as: :recipe %>
                  </span>
                  <a class = "col-6 offset-3 btn btn-primary text-white my-2" id = "toggle-more-recipes">See more</a>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @collections.length > 0 %>
  <div class = "container-fluid pt-4">
    <div class="row">
      <div class = "col-12 pb-3 px-0">
        <div class = "text-center">
          <h3 class = "mb-3">Featured in <%= pluralize(@collections.length, 'collection') %></h3>
        </div>
        <div class = "owl-carousel owl-theme other-collections-carousel">
          <%= render partial: "collections/lister_collection", collection: @collections, as: :collection, locals: { owl_carousel: true } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class = "container" name = "distillery-products">
  <% unless @other_distillery_products.blank? %>
  <!-- Other products from same distillery -->
    <div class = "row">
      <div class = "col-12">
        <h4 class = "mt-3">Get the full set from <%= link_to @product.distillery.name, distillery_path(@product.distillery) %></h4>
      </div>
      <%= render partial: "products/lister_item", collection: @other_distillery_products, as: :product, locals: { include_add_to_basket: true }  %>
    </div>
  <% end %>

  <% unless @other_popular_products.blank? %>
  <!-- Other products from same distillery -->
    <div class = "row">
      <div class = "col-12">
        <h4 class = mt-3>Other popular <%= link_to "#{@product.category.name}s", category_path(@product.category) %></h4>
      </div>
      <%= render partial: "products/lister_item", collection: @other_popular_products, as: :product, locals: { include_add_to_basket: true }  %>
    </div>
  <% end %>
</div>

<!-- Only show reviews if their are some or user has ever bought it -->
<% if @reviews.length > 0 || (user_signed_in? && (current_user.ordered_products.include?@product)) %>
  <!-- Reviews -->
  <div class = "background-lightgrey">
    <div class = "container">
      <div class = "row py-3" id = "reviews">
        <div class = "col-12 mt-2">
          <h4>Reviews</h4>
          <h6><%= render partial: "products/star_rating", locals: {product: @product} %></h6>
          <div class = "row">
          </div>
          <% if (user_signed_in? && (current_user.ordered_products.include?@product)) %>
            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#newReviewModal">
              + Add a review
            </button>
          <% else %>
            <p>Only users who have purchased <%= @product.name %> may review it. If you have, please <%= link_to "login", new_user_session_path, class: "btn btn-primary" %></p>
          <% end %>
          <div class = "row">
            <% if @reviews.length > 0 %>
              <%= render partial: "review", collection: @reviews %>
            <% end %>
          </div>
          <div class = "clear"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade mt-5" id="newReviewModal" tabindex="-1" role="dialog" aria-labelledby="newReviewModalLabel" aria-hidden="true">
  <div class="modal-dialog mt-5" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newreviewModalLabel">Review <%= @product.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @review, url: product_reviews_path(@product) do |f| %>
        <div class="modal-body">
          <%= f.input :rating, collection: 1..5, label: "Rate it overall, out of 5" %>
          <%= f.input :message, label: "Add a bit of colour - why did you give this rating?" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", class: "btn btn-primary px-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    //Owl carousel
    $('.owl-carousel.product-image-carousel').owlCarousel({
      loop:true,
      stagePadding: -5,
      nav: true,
      navText : ['<i class="fa fa-4x fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-4x fa-angle-right" aria-hidden="true"></i>'],
      responsiveClass:true,
      responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav:true
        },
      }
    });
    // var atbButtonStart = $('#atbButtonStart').offset().top;
    // var atbButton = function() {
    //   var scrollTop = $(window).scrollTop();
    //   if (scrollTop > atbButtonStart) {
    //     $('#atbButtonRow').removeClass("hidden");
    //   } else {
    //     $('#atbButtonRow').addClass("hidden");
    //   }
    // };
    // $(window).scroll(function() {
    //   atbButton();
    // });
  });
</script>
<script>
  $(function(){
    var owl = $('.owl-carousel.other-collections-carousel'); 
    owl.owlCarousel({
      stagePadding: 50,
      margin: 5,
      dots: true,
      loop: true,
      responsive : {
        // breakpoint from 0 up
        0 : {
            items : 1
        },
        // breakpoint from 480 up
        960 : {
            items : 2
        }
      }
      // navText : ['<i class="fa fa-3x pb-2 mt-0 pt-0 mb-3 fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-3x mt-0 pt-0 mb-3 pb-2 fa-angle-right" aria-hidden="true"></i>']
    });
  });
</script>

<script>
  $(function() { 
    setTimeout(function(){
      $('.stock-spinner').addClass("hidden");
      $('.stock-checker').fadeIn();
    }, 2000);
  });

  $(function() { 
    setTimeout(function(){
      $('.delivery-checker').slideDown();
    }, 2500);
  });
  // If out of stock, suggested products slide down after a bit
  // 1 second after stock spinner says out of stock
  $(function() { 
    setTimeout(function(){
      $('.upwards-speech-bubble').slideDown();
    }, 3000);
  });
  // Scroll to anchor link - 75 pixels for the atb navbar at top
  $(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top - 75
          }, 1000);
          return false;
        }
      }
    });
  });
  // Show atb navbar when scrolling past product description
  var topofDiv = $("#product-description-box").offset().top; //gets offset of header
  var height = $("#product-description-box").outerHeight(); //gets height of header
  $(window).scroll(function(){
      if($(window).scrollTop() > (topofDiv + height)){
         $(".atb-navbar").slideDown(200);
         $(".atb-navbar").addClass("sticky");
      }
      else{
         $(".atb-navbar").slideUp(200);
      }
  });
  $(function() { 
    $("#the-story-banner").click(function() {
      $("#the-story-box").slideToggle();
      $("#the-story-toggle-switch").toggleClass("fa-minus");
      $("#the-story-toggle-switch").toggleClass("fa-chevron-down");
    });
  });
  $(function() { 
    $("#taste-profile-banner").click(function() {
      $("#taste-profile-box").slideToggle();
      $("#taste-profile-toggle-switch").toggleClass("fa-minus");
      $("#taste-profile-toggle-switch").toggleClass("fa-chevron-down");
    });
  });
  $(function() { 
    $("#recipes-banner").click(function() {
      $("#recipes-box").slideToggle();
      $("#recipes-toggle-switch").toggleClass("fa-minus");
      $("#recipes-toggle-switch").toggleClass("fa-chevron-down");
    });
  });
</script>

<script>
  $(function() { 
    $("#toggle-more-recipes").click(function() {
      event.preventDefault();
      var text = $(this).text();
      $(this).text(text == "See more" ? "See less" : "See more");
      $("#more-recipes-box").slideToggle();
    });
  });
</script>

<% if @distillery.latitude.present? && @distillery.longitude.present? %>
  <script>

    function initMap() {
      
        var centralPoint = {lat: 54.1962717, lng: -4.4044171};

        var map = new google.maps.Map(document.getElementById('300px-distillery-map'), {
          zoom: 5.0,
          center: centralPoint
        });

        var marker = new google.maps.Marker({
          position: {lat: <%= @distillery.latitude %>, lng: <%= @distillery.longitude %>},
          map: map,
          animation:google.maps.Animation.BOUNCE,
          title: '<%= @distillery.name.to_json %>'
        });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOgMzuZzpcbkMy3Y1sZYOrW4kZ0lDoKxc&callback=initMap">
  </script>
<% end %>
