<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-10 offset-md-1">
      <div class = "row">
        <div class = "col-md-7">
          <div class = "owl-carousel product-image-carousel">
            <% @product.product_images.each do |image| %>
              <%= image_tag image.photo_url(:full).to_s, class: "product-image-large" %>
            <% end %>
          </div>
        </div>

        <!-- Product descriptions -->
        <div class = "col-md-5 pt-3">
          <h1><%= @product.name %></h1>
          <h6 class = "text-muted">by <%= link_to @product.distillery.name, distillery_path(@product.distillery) %></h6>
          <h4><%= render partial: "products/star_rating", locals: {product: @product} %></h4>
            <h6 class = "my-3 text-muted">
              <% if @product.size_ml.present? %>
                <!-- Allow for products not to have size -->
                <%= "#{@product.size_ml}ml - #{@product.alcohol_percentage}%" %>
                <!-- Must still have alcohol percentage -->
              <% else %>
                <%= "#{@product.alcohol_percentage}%" %>
              <% end %>
            </h6>
          <p><strong>We think</strong></p>
          <blockquote class="blockquote">
            <p class="mb-0"><em><%= simple_format(@product.description_short) %></em></p>
          </blockquote>
          <h3 class = "text-primary"><%= render partial: 'price_formatted', locals: {product: @product} %></h3>
          <div class = "row my-4">
            <div class = "col-12 favourite-unfavourite py-2"> <!-- This partial is replaced each time it's clicked -->
              <%= render partial: 'favourite_button', locals: {product: @product} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class = "row">
  <div class = "col-12">
    <hr class = "booyah-line">
  </div>
</div>

<% unless @product.fresh_to_complex.blank? && @product.dry_to_sweet.blank? && @product.subtle_to_intense.blank? %>
  <div class = "container">
    <div class = "row py-3">
      <h1 class = "text-muted">Tasting notes</h1>
      <div class = "col-12">
        <%= render partial: "products/taste_sliders", locals: {product: @product} %>
      </div>
    </div>
  </div>
<% end %>

<hr class = "booyah-line"/>
<div class="nav-wrapper" style="height:50px;">
  <nav class = "secondary-nav" id = "secondary-nav" style = "height:50px;">
    <div class = "container-fluid background-white">
      <div class = "row">
        <ul class="nav nav-pills nav-fill col-md-8 offset-md-2">
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#details"><h6>Product details</h6></a>
          </li>
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#distillery"><h6>The distillery</h6></a>
          </li>
          <% unless @recipes.blank? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#recipes"><h6>Recipes</h6></a>
            </li>
          <% end %>
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#reviews"><h6>Reviews</h6></a>
          </li>
          <li class = "nav-item mid-nav">
            <a class = "nav-link"><h6>Add to basket</h6></a>
          </li>
        </ul>
      </div>
      <div class = "row">
        <div class = "col-12">
          <hr class = "booyah-line">
        </div>
      </div>
    </div>
  </nav>
</div>

<div class = "container">
  <!-- Product details -->
  <div class = "row" id = "details">
    <div class = "col-md-8 offset-md-2">
      <div class = "row">
        <div class = "col-12">
          <p class = "article-text">
            <%= simple_format(@product.description_first) %>
          </p>
        </div>
        <div class = "col-12 justify-content-center">
          <%= image_tag @product.product_images.sample.photo, class: "d-block img-fluid product-page-image" %>
        </div>
        <div class = "col-12">
          <p class = "article-text">
            <%= simple_format(@product.description_second) %>
          </p>
        </div>
        <div class = "col-12">
          <%= image_tag @product.product_images.sample.photo, class: "d-block img-fluid product-page-image" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Distillery -->
  <div class = "row" id = "distillery">
    <h1>The distillery</h1>
    <%= render partial: "distilleries/distillery_grid", locals: {distillery: @product.distillery, include_people: true, include_range: true, include_button: true}%>
  </div>

  <% if @other_distillery_products.present? %>
  <!-- Other products from same distillery -->
    <div class = "row">
      <div class = "col-12">
        <h3>Other products by <%= link_to @product.distillery.name, distillery_path(@product.distillery) %></h3>
      </div>
      <%= render partial: "products/lister_item", collection: @other_distillery_products, as: :product %>
    </div>
  <% end %>

  <!-- Recipes -->
  <% unless @recipes.blank? %>
    <div class = "row" id = "recipes">
      <div class = "col-12">
        <h1>Recipes</h1>
        <div class = "row">
          <%= render partial: "recipes/lister_recipe", collection: @recipes, as: :recipe %>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Reviews -->
  <div class = "row" id = "reviews">
    <div class = "col-12">
      <h1>Reviews</h1>
      <div class = "row">
        <%= render partial: "review", collection: @product.reviews %>
      </div>
      <div class = "clear"></div>
      <h1>Add a review</h1>
      <% if user_signed_in? %>
        <%= simple_form_for @review, url: product_reviews_path(@product) do |f| %>
          <%= f.input :rating, collection: 1..5 %>
          <%= f.input :message %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <p>Please <%= link_to "login", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to add a review</p>
      <% end %>
    </div>
  </div>
</div>



<script>
  //Owl carousel
  $('.owl-carousel.product-image-carousel').owlCarousel({
    loop:true,
    stagePadding: 0,
    nav: true,
    navText : ['<i class="fa fa-4x fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-4x fa-angle-right" aria-hidden="true"></i>'],
    responsiveClass:true,
    responsive:{
      0:{
          items:1,
          nav:true
      },
      600:{
          items:1,
          nav:true
      },
    }
  })
</script>
