<p class="alert alert-danger">Craftr is not yet transactional - favourite products to get notified when they're available for purchase</p>
<% if user_signed_in? && current_user.admin %>
  <div class = "container py-2">
    <div class = "row">
      <div class = "col-md-6 offset-md-3">
        <h6>Admin functions</h6>
        <div class = "row">
          <div class = "col-6">
            <%= link_to "Edit", edit_admin_product_path(@product), class: "btn btn-secondary col-10 offset-1" %>
          </div>
          <div class = "col-6">
            <%= link_to "Delete", admin_product_path(@product), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-10 offset-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-10 offset-md-1">
      <div class = "row">
        <div class = "col-md-7">
          <div class = "owl-carousel product-image-carousel">
            <% @product.product_images.each do |image| %>
              <%= image_tag image.photo_url(:full).to_s, class: "product-image-large" %>
            <% end %>
            <% if @distillery.youtube_video_url.present? %>
              <div class = "container" id = "video">
                <div class = "row">
                  <div class = "col-12 text-center">
                    <div class = "embed-responsive embed-responsive-16by9">
                      <%= raw(youtube_embed(@distillery.youtube_video_url)) %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Product descriptions -->
        <div class = "col-md-5 pt-3">
          <h1><%= title @product.name %></h1>
          <h6 class = "text-muted">by <%= link_to @product.distillery.name, distillery_path(@product.distillery), class: "text-primary" %></h6>
          <h4><%= render partial: "products/star_rating", locals: {product: @product} %></h4>
            <h6 class = "my-3 text-muted">
              <% if @product.size_ml.present? %>
                <!-- Allow for products not to have size -->
                <%= "#{@product.size_ml}ml - #{@product.alcohol_percentage}%" %>
                <!-- Must still have alcohol percentage -->
              <% else %>
                <%= "#{@product.alcohol_percentage}%" %>
              <% end %>
            </h6>
          <p><strong>We think</strong></p>
          <blockquote class="blockquote">
            <p class="mb-0"><em><%= simple_format(@product.description_short) %></em></p>
          </blockquote>
          <h3 class = "text-primary"><%= render partial: 'price_formatted', locals: {product: @product} %></h3>
          <div class = "row my-4">
            <div class = "col-12 favourite-unfavourite py-2"> <!-- This partial is replaced each time it's clicked -->
              <%= render partial: 'favourite_button', locals: {product: @product} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class = "row">
  <div class = "col-12">
    <hr class = "booyah-line">
  </div>
</div>

<% unless @product.fresh_to_complex.blank? && @product.dry_to_sweet.blank? && @product.subtle_to_intense.blank? %>
  <div class = "container">
    <div class = "row py-3">
      <h1 class = "text-muted">Tasting notes</h1>
      <div class = "col-12">
        <%= render partial: "products/taste_sliders", locals: {product: @product} %>
      </div>
    </div>
  </div>
<% end %>

<hr class = "booyah-line"/>
<div class="nav-wrapper" style="height:50px;">
  <nav class = "secondary-nav background-white mb-0" id = "secondary-nav" style = "height:50px;">
    <div class = "container-fluid">
      <div class = "row">
        <ul class="nav nav-pills nav-fill col-md-8 offset-md-2">
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#details"><h6>Product details</h6></a>
          </li>
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#distillery"><h6>The distillery</h6></a>
          </li>
          <% unless @recipes.blank? %>
            <li class="nav-item mid-nav">
              <a class="nav-link no-click" href="#recipes"><h6>Recipes</h6></a>
            </li>
          <% end %>
          <li class="nav-item mid-nav">
            <a class="nav-link no-click" href="#reviews"><h6>Reviews</h6></a>
          </li>
        </ul>
      </div>
    </div>
    <hr class = "booyah-line"/>
  </nav>
</div>

<div class = "container">
  <!-- Product details -->
  <div class = "row" id = "details">
    <div class = "col-md-8 offset-md-2">
      <div class = "row">
        <div class = "col-12">
          <p class = "article-text">
            <%= simple_format(@product.description_first) %>
          </p>
        </div>
        <div class = "col-12 justify-content-center">
          <% if @product.product_images.length > 2 %>
            <%= image_tag @product.product_images.second.photo, class: "d-block img-fluid product-page-image" %>
          <% else %>
            <%= image_tag @product.product_images.first.photo, class: "d-block img-fluid product-page-image" %>
          <% end %>
        </div>
        <div class = "col-12">
          <p class = "article-text">
            <%= simple_format(@product.description_second) %>
          </p>
        </div>
        <div class = "col-12">
          <%= image_tag @product.product_images.last.photo, class: "d-block img-fluid product-page-image" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Distillery -->
  <div class = "row" id = "distillery">
    <h3>The distillery</h3>
    <div class = "col-12">
      <%= render partial: "distilleries/distillery_grid", locals: {distillery: @product.distillery, include_people: true, include_range: true, include_button: true}%>
    </div>
  </div>
  <div class = "row">
    <div class = "col-12">
      <hr class = "booyah-line my-2" />
    </div>
  </div>

  <% unless @other_distillery_products.blank? %>
  <!-- Other products from same distillery -->
    <div class = "row">
      <div class = "col-12">
        <h3>Other products by <%= link_to @product.distillery.name, distillery_path(@product.distillery) %></h3>
      </div>
      <%= render partial: "products/lister_item", collection: @other_distillery_products, as: :product %>
    </div>
  <% end %>

  <% unless @other_popular_products.blank? %>
  <!-- Other products from same distillery -->
    <div class = "row">
      <div class = "col-12">
        <h3>Other popular <%= link_to "#{@product.category.name}s", category_path(@product.category) %></h3>
      </div>
      <%= render partial: "products/lister_item", collection: @other_popular_products, as: :product %>
    </div>
  <% end %>

  <!-- Recipes -->
  <% unless @recipes.blank? %>
    <div class = "row" id = "recipes">
      <div class = "col-12">
        <h4>Recipes</h4>
        <div class = "row">
          <%= render partial: "recipes/lister_recipe", collection: @recipes, as: :recipe %>
        </div>
      </div>
    </div>
  <% end %>

  <div class = "row">
    <div class = "col-12 my-3">
      <hr class = "booyah-line" />
    </div>
  </div>

  <!-- Reviews -->
  <div class = "row py-1" id = "reviews">
    <div class = "col-12">
      <h4>Reviews</h4>
      <h4><%= render partial: "products/star_rating", locals: {product: @product} %></h4>
      <div class = "row">
        <div class = "col-12">
          <hr class = "booyah-line my-2" />
        </div>
      </div>
      <% if user_signed_in? %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newReviewModal">
          + Add a review
        </button>
      <% else %>
        <p>Please <%= link_to "login", new_user_session_path, class: "btn btn-primary" %> or <%= link_to "sign up", new_user_registration_path, class: "btn btn-secondary" %> to add a review</p>
      <% end %>
      <div class = "row">
        <% if @product.reviews.length == 0 %>
          <div class = "col-12">
            <p>No reviews yet. Be the first to add one!</p>
          </div>
        <% else %>
          <%= render partial: "review", collection: @product.reviews %>
        <% end %>
      </div>
      <div class = "clear"></div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade mt-5" id="newReviewModal" tabindex="-1" role="dialog" aria-labelledby="newReviewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newreviewModalLabel">New review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @review, url: product_reviews_path(@product) do |f| %>
        <div class="modal-body">
          <%= f.input :rating, collection: 1..5 %>
          <%= f.input :message %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<script>
  //Owl carousel
  $('.owl-carousel.product-image-carousel').owlCarousel({
    loop:true,
    stagePadding: 0,
    nav: true,
    navText : ['<i class="fa fa-4x fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-4x fa-angle-right" aria-hidden="true"></i>'],
    responsiveClass:true,
    responsive:{
      0:{
          items:1,
          nav:true
      },
      600:{
          items:1,
          nav:true
      },
    }
  });
</script>
