<div class = "row">
  <div class = "col-12 booyah-box">
    <h4>Order summary</h4>
    <p><strong><i class="fa fa-glass text-primary" aria-hidden="true"></i> Products</strong></p>
    <% order.order_items.each do |oi| %>
      <div class = "row">
        <div class = "col-12">
          <div class = "d-inline-block">
            <p><%= "#{oi.product.name} * #{oi.quantity}" %></p>  
          </div>
          <div class = "d-inline-block float-right">
            <p><%= number_to_currency((oi.subtotal_in_pence / 100).to_f, unit: "£") %></p>
          </div> 
        </div>
        <div class = "col-12">
          <hr class = "booyah-line" />
        </div>
      </div>
    <% end %>
    <p><strong><i class="fa fa-truck text-primary" aria-hidden="true"></i> Delivery</strong></p>
    <div class = "row">
      <div class = "col-12">
        <% if order.shipping_type.present? %>
          <div class = "d-inline-block">
            <p><%= order.shipping_type.name %></p>  
          </div>
          <div class = "d-inline-block float-right">
            <p><%= number_to_currency((order.total_shipping_amount / 100).to_f, unit: "£") %></p>
          </div> 
        <% else %>
          <p>Please select shipping type</p>
        <% end %>
      </div>
      <div class = "col-12">
        <hr class = "booyah-line" />
      </div>
    </div>
    <p><strong><i class="fa fa-home text-primary" aria-hidden="true"></i> Deliver to:</strong></p>
    <div class = "row">
      <div class = "col-12">
        <% if order.shipping_address.present? %>
          <p><%= order.shipping_address.full_name %></p>
          <p><%= order.shipping_address.full_address_no_name %></p>
        <% else %>
          <p>Please select your shipping address</p>
        <% end %>
      </div>
      <div class = "col-12">
        <hr class = "booyah-line" />
      </div>
    </div>
  </div>
</div>
