<div class = "col-12 lyst-box my-2 ml-md-2">
  <div class = "px-3 text-center">  
    <h4 class = "my-0">Order summary</h4>
  </div>
  <div class = "py-1">
    <div class = "indent-dot left background-lightgrey"></div><div class = "indent-dot right  background-lightgrey"></div><hr class = "lyst-line-lightgrey my-2"/>
  </div>
  <div class = "px-3">
    <% order.order_items.each do |oi| %>
      <div class = "d-inline-block">
        <p class = "ml-2"><%= "#{oi.product.name.titleize} x #{oi.quantity}" %></p>  
      </div>
      <div class = "d-inline-block float-right">
        <p><strong><%= number_to_currency((oi.subtotal_in_pence.to_f / 100), unit: "£") %></strong></p>
      </div> 
      <div class = "clear"></div>
    <% end %>
    <% if order.shipping_type.present? %>
      <div class = "d-inline-block">
        <p class = "ml-2"><%= order.shipping_type.name %></p>  
      </div>
      <div class = "d-inline-block float-right">
        <p><strong><%= order.total_unpaid_shipping_amount == 0 ? "FREE" : number_to_currency((order.total_unpaid_shipping_amount.to_f / 100), unit: "£") %></strong></p>
      </div> 
    <% else %>
      <p>Please select shipping type</p>
    <% end %>
    <div class = "clear"></div>
    <% if order.voucher.present? %>
      <div class = "d-inline-block float-left">
        <p class = "ml-2"><%= order.voucher.name %> - <%= order.voucher.code %></p>
      </div>
      <div class = "d-inline-block float-right">
        <p>- <%= order.voucher.human_readable_price %></p>
      </div>
    <% end %>
    <div class = "clear"></div>
    <% if order.total_unpaid_amount.present? %>
      <div class = "row">
        <div class = "col-12">
          <hr class = "booyah-line"/>
        </div>
      </div>
      <div class = "mt-2 mb-0">
        <div class = "d-inline-block">
          <p class = "ml-2 article-text"><strong>Total: </strong></p>
        </div>
        <div class = "d-inline-block float-right">
          <p class = "article-text"><strong><%= number_to_currency((order.total_unpaid_amount.to_f / 100), unit: "£") %></strong></p>
        </div> 
      </div>
    <% end %>
    <div class = "row mb-2">
      <div class = "col-12">
        <hr class = "booyah-line"/>
      </div>
    </div>
    <% if order.shipping_type.present? %>
      <ul class="no-bullet-list pl-0">
        <li>
          <p><strong>🚚 Delivering in <%= order.shipping_type.shipping_time %> to:</strong></p>
          <% if order.shipping_address.present? %>
            <p class = "mb-0"><%= order.shipping_address.full_name %></p>
            <p class = "mb-0"><%= order.shipping_address.full_address_no_name %></p>
          <% else %>
            <p>Please select your shipping address</p>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
