<div class = "background-lightgrey">
  <div class = "container">
    <div class = "row py-3 px-2">
      <div class = "col-12 lyst-box my-2">
        <div class = "px-3">
          <%= render partial: 'checkout/checkout_progress', locals: {order: @order} %>
        </div>
      </div>
      <div class = "col-md-8 lyst-box my-2">
        <div class = "px-3">
          <div class = "row">
            <div class = "col-12">
              <h4>🚚 Select delivery address</h4>
            </div>
            <% if current_user.addresses.length > 0 %>
              <div class = "col-12">
                <h6>Select from address book</h6>
              </div>
              <% current_user.addresses.each do |address| %>
                <div class = "col-6 col-md-4 my-2">
                  <div class="card h-100">
                    <div class="card-block">
                      <div class="card-text">
                        <p class = "mb-1"><strong><%= address.full_name %></strong></p>
                        <p class = "mb-1"><%= address.line_1 %></p>
                        <p class = "mb-1"><%= address.line_2 %></p>
                        <p class = "mb-1"><%= address.line_3 %></p>
                        <p class = "mb-1"><%= address.post_town %></p>
                        <p class = "mb-1"><%= address.postcode %></p>
                      </div>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item text-center">
                        <%= simple_form_for @order, url: checkout_update_address_path do |f| %>
                          <%= f.input :shipping_address_id, as: :hidden, :input_html => { :value => address.id } %>
                          <% if @order.shipping_address_id.present? && @order.shipping_address == address %>
                            <%= f.submit "Selected", class: "btn btn-success col-12" %>
                          <% else %>
                            <%= f.submit "Select", class: "btn btn-green-secondary col-12" %>
                          <% end %>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div class = "col-12">
              <% if @order.shipping_address_id.present? %>
                <%= link_to "Continue to secure payment", checkout_payment_path, class: "btn btn-lg btn-success text-center col-12 my-2 py-2" %>
              <% end %>
            </div>
          </div>
          <div class = "row address-input">
            <div class = "col-12 px-3 mt-2">
              <h6>Add a new address</h6>
              <p class = "text-muted">UK only - please be aware that we do not ship internationally.</p>
              <%= simple_form_for @address, url: checkout_create_address_path do |f| %>
                <div class = "row">
                  <div class = "col-6">
                    <%= f.input :first_name %>
                  </div>
                  <div class = "col-6">
                    <%= f.input :last_name %>
                  </div>
                </div>
                <%= f.input :line_1 %>
                <%= f.input :line_2 %>
                <%= f.input :line_3, label: "Line 3 (rarely required)" %>
                <div class = "row">
                  <div class = "col-6">
                    <%= f.input :post_town, label: "Town / City" %>
                  </div>
                  <div class = "col-6">
                    <%= f.input :postcode %>
                  </div>
                  <div class = "col-md-8">
                    <%= f.input :phone_number, hint: "Royal Mail requires a phone number for delivering parcels" %>
                  </div>
                  <div class = "col-md-4">
                    <%= f.input :country, collection: Address::COUNTRIES, include_blank: false, hint: "We only ship to the UK!" %>
                  </div>
                </div>
                <%= f.submit "Deliver to here", class: "btn-lg btn-success col-12" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-md-4">
        <div class = "row">
          <%= render partial: 'order_summary', locals: {order: @order} %>
        </div>
      </div>
    </div>
    <div class = "row">
        <%= render partial: 'checkout/checkout_footer' %>
    </div>
  </div>
</div>
