<div class = "container">
  <div class = "row">
    <%= render partial: 'checkout/checkout_progress', locals: {order: @order} %>
  </div>
  <div class = "row">
    <div class = "col-md-9">
      <div class = "row">
        <div class = "col-12 my-3">
          <h4 class = "mb-3">Select your address</h4>
          <%= simple_form_for @order, url: checkout_update_address_path do |f| %>
            <%= f.input :shipping_address_id, collection: current_user.addresses, label_method: :full_address_no_name, value_method: :id, include_blank: false, label: false %>
            <p>Don't have it in your address book?
              <a href="" class = "text-primary" data-toggle="modal" data-target="#newAddressModal">
                Add a new one
              </a>
            </p>
            <p class = "text-muted">UK only - please be aware that we do not ship internationally!</p>
            <%= f.submit "Next: Add payment details", class: "btn btn-primary col-12" %>
          <% end %>
          <div class = "row">
          </div>
        </div>
      </div>
    </div>
    <div class = "col-md-3 px-0">
      <%= render partial: 'order_summary', locals: {order: @order} %>
    </div>
  </div>
  <div class = "row">
      <%= render partial: 'checkout/checkout_footer' %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newAddressModal" tabindex="-1" role="dialog" aria-labelledby="newAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newAddressModalLabel">New address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @address, url: checkout_create_address_path do |f| %>
        <div class="modal-body">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :phone_number, hint: "Royal Mail require a phone number for delivering parcels" %>
          <%= f.input :line_1 %>
          <%= f.input :line_2 %>
          <%= f.input :line_3 %>
          <%= f.input :post_town, label: "Town / City" %>
          <%= f.input :postcode %>
          <%= f.input :country, collection: Address::COUNTRIES, include_blank: false, hint: "We only ship to the UK!" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add address", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  <% if current_user.addresses.length == 0 %>
    $("#newAddressModal").modal('show');
  <% end %>
</script>
