<!DOCTYPE html>
<html>
  <head>
    <title>Craftr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.quilljs.com/1.1.9/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.1.9/quill.snow.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target="#secondary-nav">
    <div id="flex-content-container">
      <% if controller_name == "static_pages" %>
        <div class = "container-fluid">
          <div class = "row background-charcoal">
            <div class = "owl-carousel top-nav-carousel">
              <div class = "text-center">
                <p class = "text-white my-1"><i class="fas fa-glass-martini"></i> &nbsp The finest craft spirits</p>
              </div>
              <div class = "text-center">
                <p class = "text-white my-1"><i class="fas fa-exchange-alt"></i> &nbsp Straight from the distillery</p>
              </div>
              <div class = "text-center">
                <p class = "text-white my-1"><i class="fas fa-truck"></i> &nbsp £2 delivery</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      
      <nav class="navbar navbar-toggleable-md navbar-light background-white nav-shadow">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "CraftrLogoPNG.png", height: '35', class: "d-inline-block align-top", alt: "Craftr logo" %>
        <% end %>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" style="position:static;">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Spirits</a>
              <div class="dropdown-menu" style="width:50%">
                <div class="px-0 container-fluid">
                  <div class="row">
                    <% navbar_categories.each do |category| %>
                      <div class="col-6 col-md-3 d-flex align-items-center">
                        <%= link_to category_path(category), class: "dropdown-item" do %>
                          <%= image_tag category.icon, height: "100px" %>
                          <br />
                          <%= category.name %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class = "row">
                    <div class = "col-8 offset-2">
                      <%= link_to "Browse by distillery", distilleries_path, class: "btn btn-primary col-12" %>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to "Recipes", recipes_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Articles", articles_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav float-right">
            <li class = "nav-item">
              <i class="fas fa-search fa-2x text-primary"></i>
            </li>
            <li class = "nav-item">
              <div class = "search-show-hide">
                <%= form_tag search_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
                  <%= text_field_tag :keyword, nil, :placeholder => "Search for products, recipes and articles...", class: "form-control search-box mr-sm-2", type: "search" %>
                  <%= submit_tag "Search", class: "btn btn-secondary my-2 my-sm-0" %>
                <% end %>
              </div>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer">
      <div class="container">
        <b>Footer Here</b>
        <br />
        <%= link_to 'About', about_path %>
      </div>
    </div>
  </body>
</html>

<script>
  $(function() {
    $('.fa-search').click(function() {
      $('.search-show-hide').toggle();
      $('.search-box').focus();
    });
  });
</script>

<script>
$(function() {
  $('.top-nav-carousel').owlCarousel({
    loop:true,
    responsiveClass:true,
    responsive:{
      0:{
          items:1,
          nav:true
      },
      600:{
          items:3,
          nav:false
      },
    }
  })

  //Dropdowns for navbar
  $('body').on('mouseenter mouseleave','.dropdown',function(e){
    var _d=$(e.target).closest('.dropdown');_d.addClass('show');
    setTimeout(function(){
      _d[_d.is(':hover')?'addClass':'removeClass']('show');
    },300);
  });
});
</script>

<script>
// Scrolling to appropriate area on page
// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
</script>

<script>
  //Sticky secondary nav
  $(function() {
    // grab the initial top offset of the navigation 
    var stickyNavTop = $('.secondary-nav').offset().top;
      
      // our function that decides weather the navigation bar should have "fixed" css position or not.
      var stickyNav = function(){
        var scrollTop = $(window).scrollTop(); // our current vertical position from the top
             
        // if we've scrolled more than the navigation, change its position to fixed to stick to top,
        // otherwise change it back to relative
        if (scrollTop > stickyNavTop) { 
            $('.secondary-nav').addClass('sticky');
        } else {
            $('.secondary-nav').removeClass('sticky'); 
        }
    };

    stickyNav();
    // and run it again every time you scroll
    $(window).scroll(function() {
      stickyNav();
    });
  });
</script>